{% if not attributes %}
  {% set attributes = 'autoplay muted loop' %}
{% endif %}

<div class="video{% if modifiers %}  {{ modifiers }}{% endif %}">
  <video
    class="video__element"
    {{ attributes | safe }}
    {% if poster %} poster="{{ poster }}"{% endif %}
  >
    <source src="{{ source }}" type="video/mp4" />
  </video>
</div>
