// Text and other inline elements
// default hr is just a single line 1px high, feel free to override
hr {
  @include margin(h auto, b 1, t 0);
  display: block;
  border: 0;
  border-bottom: 1px solid currentColor;
}

blockquote,
pre,
p {
  @include margin(a 0, b 1);
}
