<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../subtheme/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/black.css?cachebust=1.2.0" type="text/css">

<link rel="stylesheet" href="../../subtheme/styleguide.css?cachebust=1.2.0" type="text/css">


<title>Button: Link | Your Project—Styleguide</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
  <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
    <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

    <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

  </button>
  <a href="../../index.html" class="Header-title" data-pjax>Your Project—Styleguide</a>
  <span class="Header-version">v0.0.1-alpha.1</span>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-36b43032978977b33ce0152c8c21c8fc">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/button--link.html" title="Component preview">
            Button: Link
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #ed8015; border-color: #ed8015;">Work in Progress</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-36b43032978977b33ce0152c8c21c8fc">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/button--link.html"
                sandbox="allow-same-origin allow-scripts allow-forms"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-36b43032978977b33ce0152c8c21c8fc">

    

<div class="Browser-controls">
  <ul class="Browser-tabs">
    
      
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
          <a href="#browser-36b43032978977b33ce0152c8c21c8fc-panel-html">Rendered HTML</a>
        </li>
      
    
      
        <li class="Browser-tab Browser-tab--view" data-role="tab">
          <a href="#browser-36b43032978977b33ce0152c8c21c8fc-panel-view">Source</a>
        </li>
      
    
      
      
        
          <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-36b43032978977b33ce0152c8c21c8fc-panel-assets">Assets</a>
          </li>
        
      
      
    
      
        <li class="Browser-tab Browser-tab--context" data-role="tab">
          <a href="#browser-36b43032978977b33ce0152c8c21c8fc-panel-context">Context</a>
        </li>
      
    
      
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
          <a href="#browser-36b43032978977b33ce0152c8c21c8fc-panel-notes">Notes</a>
        </li>
      
    
      
        <li class="Browser-tab Browser-tab--info" data-role="tab">
          <a href="#browser-36b43032978977b33ce0152c8c21c8fc-panel-info">Info</a>
        </li>
      
    
  </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-36b43032978977b33ce0152c8c21c8fc-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span> <span class="hljs-attr">role</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"button  button--link"</span> <span class="hljs-attr">title</span>=<span class="hljs-string">"Click here!"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"button__text"</span>&gt;</span>
      Button as link
    <span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-36b43032978977b33ce0152c8c21c8fc-panel-view">
    <code class="Code Code--lang-html">
        <pre>{% if type == 'link' %}
  <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"{{ href }}"</span> <span class="hljs-attr">role</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"button{% if modifiers %}  {{ modifiers }}{% endif %}"</span> <span class="hljs-attr">title</span>=<span class="hljs-string">"{{ title }}"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"button__text"</span>&gt;</span>
      {{ label }}
    <span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
{% else %}
  <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"{{ type }}"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"button{% if modifiers %}  {{ modifiers }}{% endif %}"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"button__text"</span>&gt;</span>
      {{ label }}
    <span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
{% endif %}</pre>
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-36b43032978977b33ce0152c8c21c8fc-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-2e6fb570a7eaf85176e1b88f5585fac5">button.scss</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-2e6fb570a7eaf85176e1b88f5585fac5" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code">
                                <pre><span class="hljs-selector-class">.button</span> {
  @<span class="hljs-keyword">include</span> padding(a 1/<span class="hljs-number">2</span>);
  @<span class="hljs-keyword">include</span> color(default);
  @<span class="hljs-keyword">include</span> background-color(background);
  <span class="hljs-attribute">border</span>: <span class="hljs-number">1px</span> solid currentColor;

  @<span class="hljs-keyword">include</span> attention {
    @<span class="hljs-keyword">include</span> color(main);
    <span class="hljs-attribute">text-decoration</span>: none; <span class="hljs-comment">// for links</span>
  }
}

<span class="hljs-selector-class">.button--link</span> {
  <span class="hljs-attribute">display</span>: inline-block;
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/button/button.scss"><span>/components/raw/button/button.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/patterns/2-elements/button/button.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">279 Bytes</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-36b43032978977b33ce0152c8c21c8fc-panel-context">
    <code class="Code Code--lang-yaml">
        
            
            <pre><span class="hljs-attr">debug:</span> <span class="hljs-literal">true</span>
<span class="hljs-attr">styleguide:</span> <span class="hljs-literal">true</span>
<span class="hljs-attr">config:</span>
<span class="hljs-attr">  config:</span>
<span class="hljs-attr">    title:</span> <span class="hljs-string">Your</span> <span class="hljs-string">Project</span>
<span class="hljs-attr">    version:</span> <span class="hljs-number">0.0</span><span class="hljs-number">.1</span><span class="hljs-bullet">-alpha.1</span>
<span class="hljs-attr">    scheme:</span> <span class="hljs-string">http</span>
<span class="hljs-attr">    proxy:</span> <span class="hljs-string">dev.localhost</span>
<span class="hljs-attr">    port:</span> <span class="hljs-number">3000</span>
<span class="hljs-attr">    main:</span> <span class="hljs-string">main</span>
<span class="hljs-attr">    root:</span> <span class="hljs-string">./public/</span>
<span class="hljs-attr">    src:</span> <span class="hljs-string">./src/</span>
<span class="hljs-attr">    dest:</span> <span class="hljs-string">./public/assets/</span>
<span class="hljs-attr">    styleguide:</span> <span class="hljs-string">./public/styleguide/</span>
<span class="hljs-attr">    library:</span> <span class="hljs-string">./public/patterns/</span>
<span class="hljs-attr">    assets:</span> <span class="hljs-string">assets/</span>
<span class="hljs-attr">    config:</span> <span class="hljs-string">config/</span>
<span class="hljs-attr">    docs:</span> <span class="hljs-string">docs/</span>
<span class="hljs-attr">    fonts:</span> <span class="hljs-string">fonts/</span>
<span class="hljs-attr">    icons:</span> <span class="hljs-string">icons/</span>
<span class="hljs-attr">    images:</span> <span class="hljs-string">images/</span>
<span class="hljs-attr">    patterns:</span> <span class="hljs-string">patterns/</span>
<span class="hljs-attr">    scripts:</span> <span class="hljs-string">scripts/</span>
<span class="hljs-attr">    styles:</span> <span class="hljs-string">styles/</span>
<span class="hljs-attr">    browsers:</span>
<span class="hljs-attr">      modern:</span>
<span class="hljs-bullet">        -</span> <span class="hljs-string">last</span> <span class="hljs-number">2</span> <span class="hljs-string">Firefox</span> <span class="hljs-string">versions</span>
<span class="hljs-bullet">        -</span> <span class="hljs-string">last</span> <span class="hljs-number">2</span> <span class="hljs-string">Chrome</span> <span class="hljs-string">versions</span>
<span class="hljs-bullet">        -</span> <span class="hljs-string">last</span> <span class="hljs-number">2</span> <span class="hljs-string">Safari</span> <span class="hljs-string">versions</span>
<span class="hljs-bullet">        -</span> <span class="hljs-string">last</span> <span class="hljs-number">2</span> <span class="hljs-string">Edge</span> <span class="hljs-string">versions</span>
<span class="hljs-bullet">        -</span> <span class="hljs-string">last</span> <span class="hljs-number">2</span> <span class="hljs-string">iOS</span> <span class="hljs-string">versions</span>
<span class="hljs-bullet">        -</span> <span class="hljs-string">last</span> <span class="hljs-number">2</span> <span class="hljs-string">ChromeAndroid</span> <span class="hljs-string">versions</span>
<span class="hljs-attr">      legacy:</span>
<span class="hljs-bullet">        -</span> <span class="hljs-string">'&gt; 0.5% in DE'</span>
<span class="hljs-attr">  fonts:</span>
<span class="hljs-attr">    fonts:</span>
<span class="hljs-attr">      default:</span>
<span class="hljs-attr">        family:</span> <span class="hljs-string">Roboto</span>
<span class="hljs-attr">        fallback:</span> <span class="hljs-string">sans-serif</span>
<span class="hljs-attr">        weight:</span> <span class="hljs-number">400</span>
<span class="hljs-attr">        style:</span> <span class="hljs-string">normal</span>
<span class="hljs-attr">        fontface:</span> <span class="hljs-literal">true</span>
<span class="hljs-attr">        file:</span> <span class="hljs-string">roboto-regular</span>
<span class="hljs-attr">      mono:</span>
<span class="hljs-attr">        family:</span> <span class="hljs-string">Hack</span>
<span class="hljs-attr">        fallback:</span> <span class="hljs-string">monospace</span>
<span class="hljs-attr">        weight:</span> <span class="hljs-number">700</span>
<span class="hljs-attr">        style:</span> <span class="hljs-string">normal</span>
<span class="hljs-attr">        fontface:</span> <span class="hljs-literal">null</span>
<span class="hljs-attr">  mediaqueries:</span>
<span class="hljs-attr">    mediaqueries:</span>
<span class="hljs-attr">      s:</span> <span class="hljs-number">480</span>
<span class="hljs-attr">      m:</span> <span class="hljs-number">720</span>
<span class="hljs-attr">      l:</span> <span class="hljs-number">960</span>
<span class="hljs-attr">      xl:</span> <span class="hljs-number">1100</span>
<span class="hljs-attr">      xxl:</span> <span class="hljs-number">1400</span>
<span class="hljs-attr">      portrait:</span> <span class="hljs-string">'(orientation: portrait)'</span>
<span class="hljs-attr">      landscape:</span> <span class="hljs-string">'(orientation: landscape)'</span>
<span class="hljs-attr">      print:</span> <span class="hljs-string">print</span>
<span class="hljs-attr">      custom:</span> <span class="hljs-string">'(max-width: 30em)'</span>
<span class="hljs-attr">site:</span>
<span class="hljs-attr">  lang:</span> <span class="hljs-string">en</span>
<span class="hljs-attr">  dir:</span> <span class="hljs-string">ltr</span>
<span class="hljs-attr">  title:</span> <span class="hljs-string">Your</span> <span class="hljs-string">Project—Styleguide</span>
<span class="hljs-attr">  description:</span> <span class="hljs-literal">null</span>
<span class="hljs-attr">  themecolor:</span> <span class="hljs-string">'#f00'</span>
<span class="hljs-attr">  modifiers:</span> <span class="hljs-literal">null</span>
<span class="hljs-attr">globals:</span>
<span class="hljs-attr">  nav:</span>
<span class="hljs-attr">    main:</span>
<span class="hljs-attr">      - href:</span> <span class="hljs-string">'#somepage'</span>
<span class="hljs-attr">        label:</span> <span class="hljs-string">Somepage</span>
<span class="hljs-attr">type:</span> <span class="hljs-string">link</span>
<span class="hljs-attr">label:</span> <span class="hljs-string">Button</span> <span class="hljs-string">as</span> <span class="hljs-string">link</span>
<span class="hljs-attr">href:</span> <span class="hljs-string">'#'</span>
<span class="hljs-attr">title:</span> <span class="hljs-string">Click</span> <span class="hljs-string">here!</span>
<span class="hljs-attr">modifiers:</span> <span class="hljs-string">button--link</span>
</pre>
            
        
    </code>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-36b43032978977b33ce0152c8c21c8fc-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p>A button can be an actual button, or a link that should look like
a button. If you want to use the button as a submit-button you
should add the attribute <code>type=&quot;submit&quot;</code> to the button, instead
of <code>type=&quot;button&quot;</code>.</p>

        
    </div>
</div>

    
    <div class="Browser-panel" data-role="tab-panel" id="browser-36b43032978977b33ce0152c8c21c8fc-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@button--link</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Variants <em class="Meta-count">(2)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="button--default.html">
                    <span>Default</span>
                </a>, 
            
                <a href="">
                    <span>Link</span>
                </a>
            
            </span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/button--link.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/button--link.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">src/patterns/2-elements/button/button.html</span>
        </li>
        
        
    </ul>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">documentation</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-docs-collection-development">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Development</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/conventions.html" data-pjax>
                <span>Conventions</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/workflow.html" data-pjax>
                <span>Workflow</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/linting.html" data-pjax>
                <span>Linting</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/images.html" data-pjax>
                <span>Images</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/javascript.html" data-pjax>
                <span>Javascript</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/sass.html" data-pjax>
                <span>Sass</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/tools.html" data-pjax>
                <span>Tools</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/tasks.html" data-pjax>
                <span>Tasks</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../index.html" data-pjax>
                <span>Overview</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

    </ul>
</div>

</div>



    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">Patterns</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-identity">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Identity</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="color.html" data-pjax>
                <span>Color</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #2b9e0f;" title="Done"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="font.html" data-pjax>
                <span>Font</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #2b9e0f;" title="Done"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="icon.html" data-pjax>
                <span>Icon</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #2b9e0f;" title="Done"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-elements">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Elements</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-button">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Button</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a class="Tree-entityLink" href="" data-pjax>
                <span>Link</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="form.html" data-pjax>
                <span>Form</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #999999;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="image.html" data-pjax>
                <span>Image</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #2b9e0f;" title="Done"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="footer.html" data-pjax>
                <span>Footer</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="header.html" data-pjax>
                <span>Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="logo.html" data-pjax>
                <span>Logo</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="nav.html" data-pjax>
                <span>Nav</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #999999;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-templates">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Templates</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="page.html" data-pjax>
                <span>Page</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-pages">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Pages</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="homepage.html" data-pjax>
                <span>Homepage</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #999999;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>



</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.0"></script>



</body>
</html>
