<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/black.css?cachebust=1.0.0-alpha.1" type="text/css">


<title>Example Component: Large | Kalong—Styleguide, v0.0.1-alpha.1</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Kalong—Styleguide, v0.0.1-alpha.1</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-40b4eadebd3fd8459c471cb427675809">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/example--large.html" title="Component preview">
            Example Component: Large
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #999999; border-color: #999999;">Prototype</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-40b4eadebd3fd8459c471cb427675809">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/example--large.html"
                sandbox="allow-same-origin allow-scripts allow-forms"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-40b4eadebd3fd8459c471cb427675809">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-40b4eadebd3fd8459c471cb427675809-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-40b4eadebd3fd8459c471cb427675809-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-40b4eadebd3fd8459c471cb427675809-panel-context">Context</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-40b4eadebd3fd8459c471cb427675809-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-40b4eadebd3fd8459c471cb427675809-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-40b4eadebd3fd8459c471cb427675809-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-40b4eadebd3fd8459c471cb427675809-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"example  js-example  example--large"</span>&gt;</span>
    Quia ut et molestiae ullam sit ex officiis facilis. Quo delectus accusamus rem accusantium enim dolor est aut eum. Dolorem modi voluptas et ea modi est illo et. Quae harum quia. Ut consequatur ducimus dignissimos laudantium illo eum quasi ullam id.
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-40b4eadebd3fd8459c471cb427675809-panel-view">
    <code class="Code Code--lang-html">
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"example  js-example{% if modifiers %}  {{ modifiers }}{% endif %}"</span>&gt;</span>
  {{ text }}
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-40b4eadebd3fd8459c471cb427675809-panel-context">
    <code class="Code Code--lang-yaml">
        
            
            <pre><span class="hljs-attr">debug:</span> <span class="hljs-literal">true</span>
<span class="hljs-attr">styleguide:</span> <span class="hljs-literal">true</span>
<span class="hljs-attr">shared:</span>
<span class="hljs-attr">  breakpoints:</span>
<span class="hljs-attr">    s:</span> <span class="hljs-number">480</span>
<span class="hljs-attr">    m:</span> <span class="hljs-number">640</span>
<span class="hljs-attr">    l:</span> <span class="hljs-number">720</span>
<span class="hljs-attr">    xl:</span> <span class="hljs-number">960</span>
<span class="hljs-attr">    xxl:</span> <span class="hljs-number">1100</span>
<span class="hljs-attr">    xxxl:</span> <span class="hljs-number">1400</span>
<span class="hljs-attr">    custom:</span> <span class="hljs-string">'(max-width: 30em)'</span>
<span class="hljs-attr">  fonts:</span>
<span class="hljs-attr">    default:</span>
<span class="hljs-attr">      family:</span> <span class="hljs-string">Roboto</span>
<span class="hljs-attr">      fallback:</span> <span class="hljs-string">sans-serif</span>
<span class="hljs-attr">      weight:</span> <span class="hljs-number">400</span>
<span class="hljs-attr">      style:</span> <span class="hljs-string">normal</span>
<span class="hljs-attr">      fontface:</span> <span class="hljs-literal">true</span>
<span class="hljs-attr">      file:</span> <span class="hljs-string">roboto-regular</span>
<span class="hljs-attr">site:</span>
<span class="hljs-attr">  lang:</span> <span class="hljs-string">en</span>
<span class="hljs-attr">  dir:</span> <span class="hljs-string">ltr</span>
<span class="hljs-attr">  title:</span> <span class="hljs-string">'Kalong—Styleguide, v0.0.1-alpha.1'</span>
<span class="hljs-attr">  description:</span> <span class="hljs-literal">null</span>
<span class="hljs-attr">  themecolor:</span> <span class="hljs-string">'#000000'</span>
<span class="hljs-attr">  modifiers:</span> <span class="hljs-literal">null</span>
<span class="hljs-attr">globals:</span>
<span class="hljs-attr">  nav:</span>
<span class="hljs-attr">    main:</span>
<span class="hljs-attr">      - href:</span> <span class="hljs-string">'#somepage'</span>
<span class="hljs-attr">        label:</span> <span class="hljs-string">Somepage</span>
<span class="hljs-attr">text:</span> <span class="hljs-string">&gt;-</span>
  <span class="hljs-string">Quia</span> <span class="hljs-string">ut</span> <span class="hljs-string">et</span> <span class="hljs-string">molestiae</span> <span class="hljs-string">ullam</span> <span class="hljs-string">sit</span> <span class="hljs-string">ex</span> <span class="hljs-string">officiis</span> <span class="hljs-string">facilis.</span> <span class="hljs-string">Quo</span> <span class="hljs-string">delectus</span> <span class="hljs-string">accusamus</span> <span class="hljs-string">rem</span>
  <span class="hljs-string">accusantium</span> <span class="hljs-string">enim</span> <span class="hljs-string">dolor</span> <span class="hljs-string">est</span> <span class="hljs-string">aut</span> <span class="hljs-string">eum.</span> <span class="hljs-string">Dolorem</span> <span class="hljs-string">modi</span> <span class="hljs-string">voluptas</span> <span class="hljs-string">et</span> <span class="hljs-string">ea</span> <span class="hljs-string">modi</span> <span class="hljs-string">est</span> <span class="hljs-string">illo</span>
  <span class="hljs-string">et.</span> <span class="hljs-string">Quae</span> <span class="hljs-string">harum</span> <span class="hljs-string">quia.</span> <span class="hljs-string">Ut</span> <span class="hljs-string">consequatur</span> <span class="hljs-string">ducimus</span> <span class="hljs-string">dignissimos</span> <span class="hljs-string">laudantium</span> <span class="hljs-string">illo</span> <span class="hljs-string">eum</span>
  <span class="hljs-string">quasi</span> <span class="hljs-string">ullam</span> <span class="hljs-string">id.</span>
<span class="hljs-attr">modifiers:</span> <span class="hljs-string">example--large</span>
</pre>
            
        
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-40b4eadebd3fd8459c471cb427675809-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-3c4db07ef0b4be75038e529cca23978a">example.js</option>
                
                <option value="file-da15bafba300ee79cd8eb4dc9e2e137c">example.scss</option>
                
                <option value="file-93fb2ab7ee2d1663262ddef24a0d7a78">example.test.js</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-3c4db07ef0b4be75038e529cca23978a" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-JavaScript FileBrowser-code">
                                <pre><span class="hljs-comment">// You can import anything you want here, npm-modules, other files etc. pp.</span>
<span class="hljs-comment">// Examples:</span>
<span class="hljs-comment">// import $ from 'jquery';</span>
<span class="hljs-comment">// import Vue from 'vue';</span>
<span class="hljs-comment">//</span>
<span class="hljs-comment">// There is a shortcut for importing the Sass-shared.json config</span>
<span class="hljs-comment">// import config from '#sharedconfig'</span>
<span class="hljs-comment">//</span>
<span class="hljs-comment">// and a shortcut for importing a file from the node_modules-folder</span>
<span class="hljs-comment">// import somelib from '#module/somelib/dist/somefile';</span>
<span class="hljs-comment">//</span>
<span class="hljs-comment">// and other helpers for vendor/global/helper</span>
<span class="hljs-comment">// import mediaquery from '#helper/mediaquery';</span>
<span class="hljs-comment">// import fontloader from '#global/fontloader';</span>
<span class="hljs-comment">// import somefile from '#vendor/somefile';</span>
<span class="hljs-comment">//</span>
<span class="hljs-comment">// And finally: a shortcut to import patterns—you don't have to specify</span>
<span class="hljs-comment">// the full path, because pattern-names should be unique anyway:</span>
<span class="hljs-comment">// import button from '#pattern/button';</span>

<span class="hljs-keyword">import</span> mediaquery <span class="hljs-keyword">from</span> <span class="hljs-string">'#helper/mediaquery'</span>;
<span class="hljs-keyword">import</span> select <span class="hljs-keyword">from</span> <span class="hljs-string">'select-dom'</span>;

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> (scope = <span class="hljs-built_in">document</span>) =&gt; {
  <span class="hljs-keyword">const</span> examples = select.all(<span class="hljs-string">'.js-example'</span>, scope);

  examples.forEach(<span class="hljs-function"><span class="hljs-params">example</span> =&gt;</span> {
    <span class="hljs-keyword">if</span> (mediaquery(<span class="hljs-string">'l'</span>)) {
      <span class="hljs-built_in">console</span>.log(<span class="hljs-string">`Doing something with <span class="hljs-subst">${example}</span> above breakpoint L`</span>);
    } <span class="hljs-keyword">else</span> {
      <span class="hljs-built_in">console</span>.log(<span class="hljs-string">`Doing something with <span class="hljs-subst">${example}</span> below breakpoint L`</span>);
    }
  });
};
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/example/example.js"><span>/components/raw/example/example.js</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/patterns/components/example/example.js</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">1.2 KB</span>
                </li>
            </ul>
        </div>
        
        <div class="FileBrowser-item" id="file-da15bafba300ee79cd8eb4dc9e2e137c" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code">
                                <pre><span class="hljs-selector-class">.example</span> {
  @<span class="hljs-keyword">include</span> padding(a 1);
  <span class="hljs-attribute">border</span>: <span class="hljs-number">1px</span> solid currentColor;
  <span class="hljs-attribute">box-shadow</span>: <span class="hljs-number">0</span> <span class="hljs-number">0</span> <span class="hljs-variable">$base-unit</span> <span class="hljs-number">0</span> currentColor;
}

<span class="hljs-selector-class">.example--default</span> {
  <span class="hljs-attribute">font-size</span>: <span class="hljs-number">100%</span>;
}

<span class="hljs-selector-class">.example--large</span> {
  @<span class="hljs-keyword">include</span> padding(a 2);
  <span class="hljs-attribute">font-size</span>: <span class="hljs-number">200%</span>;
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/example/example.scss"><span>/components/raw/example/example.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/patterns/components/example/example.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">224 Bytes</span>
                </li>
            </ul>
        </div>
        
        <div class="FileBrowser-item" id="file-93fb2ab7ee2d1663262ddef24a0d7a78" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-JavaScript FileBrowser-code">
                                <pre><span class="hljs-comment">// testing is not included in kalong, yet</span>
<span class="hljs-comment">// but this would be the file where to put your tests and specs ;)</span>
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/example/example.test.js"><span>/components/raw/example/example.test.js</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/patterns/components/example/example.test.js</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">109 Bytes</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel" data-role="tab-panel" id="browser-40b4eadebd3fd8459c471cb427675809-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@example--large</span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Tags:</strong>
            <span class="Meta-value">
                
                    <span>
                
                    <span>tag-one</span>, 
                
                    <span>tag-two</span>
                
            </span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Variants <em class="Meta-count">(2)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="example--default.html">
                    <span>Default</span>
                </a>, 
            
                <a href="">
                    <span>Large</span>
                </a>
            
            </span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/example--large.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/example--large.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">src/patterns/components/example/example.html</span>
        </li>
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-40b4eadebd3fd8459c471cb427675809-panel-notes">
    <div class="Prose Prose--condensed">
        
        <h1 id="more-info-on-the-example-component">More info on the example-component</h1>
<p>You can use <strong>markdown</strong> here, if you want. </p>
<p>Yay! This is an awesome example.</p>

        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">documentation</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-docs-collection-development">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Development</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/conventions.html" data-pjax>
                <span>Conventions</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/workflow.html" data-pjax>
                <span>Workflow</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/linting.html" data-pjax>
                <span>Linting</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/images.html" data-pjax>
                <span>Images</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/javascript.html" data-pjax>
                <span>Javascript</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/sass.html" data-pjax>
                <span>Sass</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/tools.html" data-pjax>
                <span>Tools</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/tasks.html" data-pjax>
                <span>Tasks</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../index.html" data-pjax>
                <span>Overview</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/design-elements.html" data-pjax>
                <span>Design Elements</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

    </ul>
</div>

</div>



    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">Patterns</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-basics">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Basics</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="form.html" data-pjax>
                <span>Form</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #999999;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="text.html" data-pjax>
                <span>Text</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #999999;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button.html" data-pjax>
                <span>Button</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="example.html" data-pjax>
                <span>Example</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #999999;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="icon.html" data-pjax>
                <span>Icon</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-globals">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Globals</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="footer.html" data-pjax>
                <span>Footer</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="header.html" data-pjax>
                <span>Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="logo.html" data-pjax>
                <span>Logo</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="nav.html" data-pjax>
                <span>Nav</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #999999;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-templates">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Templates</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="page.html" data-pjax>
                <span>Page</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>



</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.0.0-alpha.1"></script>



</body>
</html>
