<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/black.css?cachebust=1.2.0" type="text/css">


<title>Example Component | Kalong—Styleguide, v0.0.1-alpha.1</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Kalong—Styleguide, v0.0.1-alpha.1</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-6cf0535ee9e97302f37dedcb4fb37a9e">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/example.html" title="Component preview">
            Example Component
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #FF3333; border-color: #FF3333;">Prototype</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-6cf0535ee9e97302f37dedcb4fb37a9e">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/example.html"
                sandbox="allow-same-origin allow-scripts allow-forms"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-6cf0535ee9e97302f37dedcb4fb37a9e">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-6cf0535ee9e97302f37dedcb4fb37a9e-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-6cf0535ee9e97302f37dedcb4fb37a9e-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-6cf0535ee9e97302f37dedcb4fb37a9e-panel-context">Context</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-6cf0535ee9e97302f37dedcb4fb37a9e-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-6cf0535ee9e97302f37dedcb4fb37a9e-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-6cf0535ee9e97302f37dedcb4fb37a9e-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-6cf0535ee9e97302f37dedcb4fb37a9e-panel-html">
    <code class="Code Code--lang-html">
        
        
            <pre><span class="hljs-comment">&lt;!-- Default --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"example  js-example  example--default"</span>&gt;</span>
    Eos asperiores quia maxime maiores totam veniam reprehenderit. Quas est sunt quasi amet. Fugiat perspiciatis voluptate. Porro iste minima voluptatem non laborum ut est reiciendis quia. Eos ut maxime ea quis.
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

</pre>
        
            <pre><span class="hljs-comment">&lt;!-- Large --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"example  js-example  example--large"</span>&gt;</span>
    Maiores non omnis sequi velit. Provident quibusdam ut vero explicabo vel blanditiis aut. Culpa facilis rerum in voluptatem deleniti enim. Autem ad qui laborum quam deserunt aut omnis. Dolorum sint dicta voluptas sed cum. Minus eligendi voluptatem ipsam
    ipsam.
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

</pre>
        
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-6cf0535ee9e97302f37dedcb4fb37a9e-panel-view">
    <code class="Code Code--lang-html">
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"example  js-example{% if modifiers %}  {{ modifiers }}{% endif %}"</span>&gt;</span>
  {{ text }}
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-6cf0535ee9e97302f37dedcb4fb37a9e-panel-context">
    <code class="Code Code--lang-yaml">
        
        
            <pre>
<span class="hljs-comment">/* Default */</span>
<span class="hljs-attr">text:</span> <span class="hljs-string">&gt;-</span>
  <span class="hljs-string">Eos</span> <span class="hljs-string">asperiores</span> <span class="hljs-string">quia</span> <span class="hljs-string">maxime</span> <span class="hljs-string">maiores</span> <span class="hljs-string">totam</span> <span class="hljs-string">veniam</span> <span class="hljs-string">reprehenderit.</span> <span class="hljs-string">Quas</span> <span class="hljs-string">est</span> <span class="hljs-string">sunt</span>
  <span class="hljs-string">quasi</span> <span class="hljs-string">amet.</span> <span class="hljs-string">Fugiat</span> <span class="hljs-string">perspiciatis</span> <span class="hljs-string">voluptate.</span> <span class="hljs-string">Porro</span> <span class="hljs-string">iste</span> <span class="hljs-string">minima</span> <span class="hljs-string">voluptatem</span> <span class="hljs-string">non</span>
  <span class="hljs-string">laborum</span> <span class="hljs-string">ut</span> <span class="hljs-string">est</span> <span class="hljs-string">reiciendis</span> <span class="hljs-string">quia.</span> <span class="hljs-string">Eos</span> <span class="hljs-string">ut</span> <span class="hljs-string">maxime</span> <span class="hljs-string">ea</span> <span class="hljs-string">quis.</span>
<span class="hljs-attr">modifiers:</span> <span class="hljs-string">example--default</span>


</pre>
        
            <pre>
<span class="hljs-comment">/* Large */</span>
<span class="hljs-attr">text:</span> <span class="hljs-string">&gt;-</span>
  <span class="hljs-string">Maiores</span> <span class="hljs-string">non</span> <span class="hljs-string">omnis</span> <span class="hljs-string">sequi</span> <span class="hljs-string">velit.</span> <span class="hljs-string">Provident</span> <span class="hljs-string">quibusdam</span> <span class="hljs-string">ut</span> <span class="hljs-string">vero</span> <span class="hljs-string">explicabo</span> <span class="hljs-string">vel</span>
  <span class="hljs-string">blanditiis</span> <span class="hljs-string">aut.</span> <span class="hljs-string">Culpa</span> <span class="hljs-string">facilis</span> <span class="hljs-string">rerum</span> <span class="hljs-string">in</span> <span class="hljs-string">voluptatem</span> <span class="hljs-string">deleniti</span> <span class="hljs-string">enim.</span> <span class="hljs-string">Autem</span> <span class="hljs-string">ad</span> <span class="hljs-string">qui</span>
  <span class="hljs-string">laborum</span> <span class="hljs-string">quam</span> <span class="hljs-string">deserunt</span> <span class="hljs-string">aut</span> <span class="hljs-string">omnis.</span> <span class="hljs-string">Dolorum</span> <span class="hljs-string">sint</span> <span class="hljs-string">dicta</span> <span class="hljs-string">voluptas</span> <span class="hljs-string">sed</span> <span class="hljs-string">cum.</span> <span class="hljs-string">Minus</span>
  <span class="hljs-string">eligendi</span> <span class="hljs-string">voluptatem</span> <span class="hljs-string">ipsam</span> <span class="hljs-string">ipsam.</span>
<span class="hljs-attr">modifiers:</span> <span class="hljs-string">example--large</span>


</pre>
        
        
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-6cf0535ee9e97302f37dedcb4fb37a9e-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-3c4db07ef0b4be75038e529cca23978a">example.js</option>
                
                <option value="file-da15bafba300ee79cd8eb4dc9e2e137c">example.scss</option>
                
                <option value="file-93fb2ab7ee2d1663262ddef24a0d7a78">example.test.js</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-3c4db07ef0b4be75038e529cca23978a" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-JavaScript FileBrowser-code">
                                <pre><span class="hljs-keyword">import</span> mediaquery <span class="hljs-keyword">from</span> <span class="hljs-string">'#helper/mediaquery'</span>;

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> (scope = <span class="hljs-built_in">document</span>) =&gt; {
  <span class="hljs-keyword">const</span> example = scope.querySelectorAll(<span class="hljs-string">'.js-example'</span>);

  <span class="hljs-built_in">console</span>.log(mediaquery(<span class="hljs-string">'s'</span>), <span class="hljs-string">'mediaquery above breakpoint S'</span>);
  <span class="hljs-built_in">console</span>.log(example);
};
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/example/example.js"><span>/components/raw/example/example.js</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/patterns/components/example/example.js</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">235 Bytes</span>
                </li>
            </ul>
        </div>
        
        <div class="FileBrowser-item" id="file-da15bafba300ee79cd8eb4dc9e2e137c" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code">
                                <pre><span class="hljs-selector-class">.example</span> {
  @<span class="hljs-keyword">include</span> padding(a 1);
  <span class="hljs-attribute">border</span>: <span class="hljs-number">1px</span> solid currentColor;
  <span class="hljs-attribute">box-shadow</span>: <span class="hljs-number">0</span> <span class="hljs-number">0</span> <span class="hljs-variable">$base-unit</span> <span class="hljs-number">0</span> currentColor;
}

<span class="hljs-selector-class">.example--default</span> {
  <span class="hljs-attribute">font-size</span>: <span class="hljs-number">100%</span>;
}

<span class="hljs-selector-class">.example--large</span> {
  @<span class="hljs-keyword">include</span> padding(a 2);
  <span class="hljs-attribute">font-size</span>: <span class="hljs-number">200%</span>;
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/example/example.scss"><span>/components/raw/example/example.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/patterns/components/example/example.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">224 Bytes</span>
                </li>
            </ul>
        </div>
        
        <div class="FileBrowser-item" id="file-93fb2ab7ee2d1663262ddef24a0d7a78" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-JavaScript FileBrowser-code">
                                <pre><span class="hljs-comment">// import test from 'ava';</span>
<span class="hljs-keyword">const</span> test = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'meh'</span>);
};

test(<span class="hljs-string">'foo'</span>, t =&gt; {
  t.pass();
});

test(<span class="hljs-string">'bar'</span>, <span class="hljs-keyword">async</span> t =&gt; {
  <span class="hljs-keyword">const</span> bar = <span class="hljs-built_in">Promise</span>.resolve(<span class="hljs-string">'bar'</span>);

  t.is(<span class="hljs-keyword">await</span> bar, <span class="hljs-string">'bar'</span>);
});

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> {};
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/example/example.test.js"><span>/components/raw/example/example.test.js</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/patterns/components/example/example.test.js</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">230 Bytes</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel" data-role="tab-panel" id="browser-6cf0535ee9e97302f37dedcb4fb37a9e-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@example</span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Tags:</strong>
            <span class="Meta-value">
                
                    <span>
                
                    <span>tag-one</span>, 
                
                    <span>tag-two</span>
                
            </span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Variants <em class="Meta-count">(2)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="example--default.html">
                    <span>Default</span>
                </a>, 
            
                <a href="example--large.html">
                    <span>Large</span>
                </a>
            
            </span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/example.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/example.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">src/patterns/components/example/example.html</span>
        </li>
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-6cf0535ee9e97302f37dedcb4fb37a9e-panel-notes">
    <div class="Prose Prose--condensed">
        
        <h1 id="more-info-on-the-example-component">More info on the example-component</h1>
<p>You can use <strong>markdown</strong> here, if you want. </p>
<p>Yay! This is an awesome example.</p>

        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">documentation</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-docs-collection-development">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Development</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/conventions.html" data-pjax>
                <span>Conventions</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Draft"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/workflow.html" data-pjax>
                <span>Workflow</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Draft"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/linting.html" data-pjax>
                <span>Linting</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Draft"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/images.html" data-pjax>
                <span>Images</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Draft"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/javascript.html" data-pjax>
                <span>Javascript</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Draft"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/sass.html" data-pjax>
                <span>Sass</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Draft"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/tools.html" data-pjax>
                <span>Tools</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Draft"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/tasks.html" data-pjax>
                <span>Tasks</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Draft"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../index.html" data-pjax>
                <span>Overview</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Draft"></span>


</div>

</div>


            </a>
        </li>
        
    

    </ul>
</div>

</div>



    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">Patterns</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button.html" data-pjax>
                <span>Button</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a class="Tree-entityLink" href="" data-pjax>
                <span>Example</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-globals">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Globals</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="footer.html" data-pjax>
                <span>Footer</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>



</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.0"></script>



</body>
</html>
