<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../subtheme/favicon.ico" type="image/ico">
<style>
    :root {
        
        
        
    }
</style>

<link rel="stylesheet" href="../../themes/mandelbrot/css/black.css?cachebust=1.7.0" type="text/css">

<link rel="stylesheet" href="../../subtheme/styleguide.css?cachebust=1.7.0" type="text/css">

<link rel="stylesheet" href="../../themes/mandelbrot/css/highlight.css?cachebust=1.7.0" type="text/css">


<title>Fonts & Typefaces | Your Project—Styleguide</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <div class="Header-navToggleIcon Header-navToggleIcon--open">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        </div>
        <div class="Header-navToggleIcon Header-navToggleIcon--closed">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

        </div>
    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Your Project—Styleguide</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-f42ee1d3f4a3a4452039ad9acd7065ed">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/font.html" title="Preview">
            Fonts & Typefaces
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>

    <span class="Pen-preview-size" data-role="preview-size"></span>

    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #2b9e0f; border-color: #2b9e0f;">Done</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-f42ee1d3f4a3a4452039ad9acd7065ed">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/font.html"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-f42ee1d3f4a3a4452039ad9acd7065ed">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-f42ee1d3f4a3a4452039ad9acd7065ed-panel-html">
                HTML
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-f42ee1d3f4a3a4452039ad9acd7065ed-panel-view">
                View
            </a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-f42ee1d3f4a3a4452039ad9acd7065ed-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-f42ee1d3f4a3a4452039ad9acd7065ed-panel-context">
                Context
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-f42ee1d3f4a3a4452039ad9acd7065ed-panel-notes">
                Notes
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-f42ee1d3f4a3a4452039ad9acd7065ed-panel-info">
                Info
            </a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-f42ee1d3f4a3a4452039ad9acd7065ed-panel-html">
    <code class="Code Code--lang-html hljs">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;flow&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">h1</span>&gt;</span>default<span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>

      <span class="hljs-tag">&lt;<span class="hljs-name">h2</span>&gt;</span>Überschrift 2<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">h3</span>&gt;</span>Überschrift 3<span class="hljs-tag">&lt;/<span class="hljs-name">h3</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">h4</span>&gt;</span>Überschrift 4<span class="hljs-tag">&lt;/<span class="hljs-name">h4</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">h5</span>&gt;</span>Überschrift 5<span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">h6</span>&gt;</span>Überschrift 6<span class="hljs-tag">&lt;/<span class="hljs-name">h6</span>&gt;</span>

      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;font--default&quot;</span>&gt;</span>
          Typeface: Roboto<span class="hljs-tag">&lt;<span class="hljs-name">br</span> /&gt;</span>
          Fallback: sans-serif<span class="hljs-tag">&lt;<span class="hljs-name">br</span> /&gt;</span>
          Weight: 400<span class="hljs-tag">&lt;<span class="hljs-name">br</span> /&gt;</span>
          Style: normal<span class="hljs-tag">&lt;<span class="hljs-name">br</span> /&gt;</span>
          Uses @font-face with file: roboto-regular
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>

      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;font--default&quot;</span>&gt;</span>
          Manchmal Sätze, die alle Buchstaben des Alphabets enthalten - man nennt
          diese Sätze »Pangrams«. Sehr bekannt ist dieser: The quick brown fox jumps
          over the lazy old dog. Oft werden in Typoblindtexte auch fremdsprachige
          Satzteile eingebaut (AVAIL® and Wefox™ are testing aussi la Kerning),
          um die Wirkung in anderen Sprachen zu testen. In Lateinisch sieht zum
          Beispiel fast jede Schrift gut aus.
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;flow&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">h1</span>&gt;</span>mono<span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>

      <span class="hljs-tag">&lt;<span class="hljs-name">h2</span>&gt;</span>Überschrift 2<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">h3</span>&gt;</span>Überschrift 3<span class="hljs-tag">&lt;/<span class="hljs-name">h3</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">h4</span>&gt;</span>Überschrift 4<span class="hljs-tag">&lt;/<span class="hljs-name">h4</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">h5</span>&gt;</span>Überschrift 5<span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">h6</span>&gt;</span>Überschrift 6<span class="hljs-tag">&lt;/<span class="hljs-name">h6</span>&gt;</span>

      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;font--mono&quot;</span>&gt;</span>
          Typeface: Hack<span class="hljs-tag">&lt;<span class="hljs-name">br</span> /&gt;</span>
          Fallback: monospace<span class="hljs-tag">&lt;<span class="hljs-name">br</span> /&gt;</span>
          Weight: 700<span class="hljs-tag">&lt;<span class="hljs-name">br</span> /&gt;</span>
          Style: normal<span class="hljs-tag">&lt;<span class="hljs-name">br</span> /&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>

      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;font--mono&quot;</span>&gt;</span>
          Manchmal Sätze, die alle Buchstaben des Alphabets enthalten - man nennt
          diese Sätze »Pangrams«. Sehr bekannt ist dieser: The quick brown fox jumps
          over the lazy old dog. Oft werden in Typoblindtexte auch fremdsprachige
          Satzteile eingebaut (AVAIL® and Wefox™ are testing aussi la Kerning),
          um die Wirkung in anderen Sprachen zu testen. In Lateinisch sieht zum
          Beispiel fast jede Schrift gut aus.
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-f42ee1d3f4a3a4452039ad9acd7065ed-panel-view">
    <code class="Code Code--lang-html hljs">
        <pre>{% for font, config in fonts %}
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;flow&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">h1</span>&gt;</span>{{ font }}<span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">h2</span>&gt;</span>Überschrift 2<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">h3</span>&gt;</span>Überschrift 3<span class="hljs-tag">&lt;/<span class="hljs-name">h3</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">h4</span>&gt;</span>Überschrift 4<span class="hljs-tag">&lt;/<span class="hljs-name">h4</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">h5</span>&gt;</span>Überschrift 5<span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">h6</span>&gt;</span>Überschrift 6<span class="hljs-tag">&lt;/<span class="hljs-name">h6</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;font--{{ font }}&quot;</span>&gt;</span>
      Typeface: {{ config.family }}<span class="hljs-tag">&lt;<span class="hljs-name">br</span> /&gt;</span>
      Fallback: {{ config.fallback }}<span class="hljs-tag">&lt;<span class="hljs-name">br</span> /&gt;</span>
      Weight: {{ config.weight }}<span class="hljs-tag">&lt;<span class="hljs-name">br</span> /&gt;</span>
      Style: {{ config.style }}<span class="hljs-tag">&lt;<span class="hljs-name">br</span> /&gt;</span>
      {% if config.fontface %}
        Uses @font-face with file: {{ config.file }}
      {% endif %}
    <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;font--{{ font }}&quot;</span>&gt;</span>
      Manchmal Sätze, die alle Buchstaben des Alphabets enthalten - man nennt
      diese Sätze »Pangrams«. Sehr bekannt ist dieser: The quick brown fox jumps
      over the lazy old dog. Oft werden in Typoblindtexte auch fremdsprachige
      Satzteile eingebaut (AVAIL® and Wefox™ are testing aussi la Kerning),
      um die Wirkung in anderen Sprachen zu testen. In Lateinisch sieht zum
      Beispiel fast jede Schrift gut aus.
    <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
{% endfor %}</pre>
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-f42ee1d3f4a3a4452039ad9acd7065ed-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-ae6c929a9c8f96ebcc7972dba93d8687">font.scss</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-ae6c929a9c8f96ebcc7972dba93d8687" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code hljs">
                                <pre><span class="hljs-keyword">@each</span> <span class="hljs-variable">$font</span>, <span class="hljs-variable">$config</span> in <span class="hljs-variable">$fonts</span> {
  <span class="hljs-selector-class">.font--</span>#{<span class="hljs-variable">$font</span>} {
    <span class="hljs-keyword">@include</span> font(<span class="hljs-variable">$font</span>);
  }
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/font/font.scss"><span>/components/raw/font/font.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/patterns/1-identity/font/font.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">85 Bytes</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-f42ee1d3f4a3a4452039ad9acd7065ed-panel-context">
    <code class="Code Code--lang-yaml hljs">
        
            
            <pre><span class="hljs-attr">config:</span>
  <span class="hljs-attr">kalong:</span>
    <span class="hljs-attr">title:</span> <span class="hljs-string">Your</span> <span class="hljs-string">Project</span>
    <span class="hljs-attr">version:</span> <span class="hljs-number">0.1</span><span class="hljs-number">.0</span>
    <span class="hljs-attr">proxy:</span> <span class="hljs-string">yourproject.dev.localhost</span>
    <span class="hljs-attr">https:</span> <span class="hljs-literal">true</span>
    <span class="hljs-attr">port:</span> <span class="hljs-number">3000</span>
    <span class="hljs-attr">main:</span> <span class="hljs-string">main</span>
    <span class="hljs-attr">root:</span> <span class="hljs-string">./public/</span>
    <span class="hljs-attr">src:</span> <span class="hljs-string">./src/</span>
    <span class="hljs-attr">dest:</span> <span class="hljs-string">./public/assets/</span>
    <span class="hljs-attr">styleguide:</span> <span class="hljs-string">./public/styleguide/</span>
    <span class="hljs-attr">library:</span> <span class="hljs-string">./public/site/patterns/</span>
    <span class="hljs-attr">assets:</span> <span class="hljs-string">assets/</span>
    <span class="hljs-attr">config:</span> <span class="hljs-string">config/</span>
    <span class="hljs-attr">docs:</span> <span class="hljs-string">docs/</span>
    <span class="hljs-attr">fonts:</span> <span class="hljs-string">fonts/</span>
    <span class="hljs-attr">icons:</span> <span class="hljs-string">icons/</span>
    <span class="hljs-attr">images:</span> <span class="hljs-string">images/</span>
    <span class="hljs-attr">patterns:</span> <span class="hljs-string">patterns/</span>
    <span class="hljs-attr">templates:</span> <span class="hljs-string">templates/</span>
    <span class="hljs-attr">scripts:</span> <span class="hljs-string">scripts/</span>
    <span class="hljs-attr">styles:</span> <span class="hljs-string">styles/</span>
  <span class="hljs-attr">fonts:</span>
    <span class="hljs-attr">default:</span>
      <span class="hljs-attr">family:</span> <span class="hljs-string">Roboto</span>
      <span class="hljs-attr">fallback:</span> <span class="hljs-string">sans-serif</span>
      <span class="hljs-attr">weight:</span> <span class="hljs-number">400</span>
      <span class="hljs-attr">style:</span> <span class="hljs-string">normal</span>
      <span class="hljs-attr">fontface:</span> <span class="hljs-literal">true</span>
      <span class="hljs-attr">file:</span> <span class="hljs-string">roboto-regular</span>
    <span class="hljs-attr">mono:</span>
      <span class="hljs-attr">family:</span> <span class="hljs-string">Hack</span>
      <span class="hljs-attr">fallback:</span> <span class="hljs-string">monospace</span>
      <span class="hljs-attr">weight:</span> <span class="hljs-number">700</span>
      <span class="hljs-attr">style:</span> <span class="hljs-string">normal</span>
      <span class="hljs-attr">fontface:</span> <span class="hljs-literal">false</span>
  <span class="hljs-attr">mediaqueries:</span>
    <span class="hljs-attr">xs:</span> <span class="hljs-number">375</span>
    <span class="hljs-attr">s:</span> <span class="hljs-number">480</span>
    <span class="hljs-attr">m:</span> <span class="hljs-number">720</span>
    <span class="hljs-attr">l:</span> <span class="hljs-number">960</span>
    <span class="hljs-attr">xl:</span> <span class="hljs-number">1100</span>
    <span class="hljs-attr">xxl:</span> <span class="hljs-number">1280</span>
    <span class="hljs-attr">portrait:</span> <span class="hljs-string">&#x27;(orientation: portrait)&#x27;</span>
    <span class="hljs-attr">landscape:</span> <span class="hljs-string">&#x27;(orientation: landscape)&#x27;</span>
    <span class="hljs-attr">print:</span> <span class="hljs-string">print</span>
    <span class="hljs-attr">custom:</span> <span class="hljs-string">&#x27;(max-width: 30rem)&#x27;</span>
  <span class="hljs-attr">colors:</span>
    <span class="hljs-attr">icon:</span> <span class="hljs-string">&#x27;#000&#x27;</span>
    <span class="hljs-attr">theme:</span> <span class="hljs-string">&#x27;#f00&#x27;</span>
    <span class="hljs-attr">tile:</span> <span class="hljs-string">&#x27;#f00&#x27;</span>
  <span class="hljs-attr">debug:</span> <span class="hljs-literal">true</span>
  <span class="hljs-attr">styleguide:</span> <span class="hljs-literal">true</span>
  <span class="hljs-attr">hash:</span> <span class="hljs-number">1612462777659</span>
<span class="hljs-attr">language:</span>
  <span class="hljs-attr">code:</span> <span class="hljs-string">en</span>
  <span class="hljs-attr">locale:</span> <span class="hljs-string">en_US</span>
  <span class="hljs-attr">direction:</span> <span class="hljs-string">ltr</span>
<span class="hljs-attr">nav:</span>
  <span class="hljs-attr">main:</span>
    <span class="hljs-bullet">-</span> <span class="hljs-attr">href:</span> <span class="hljs-string">&#x27;#somepage&#x27;</span>
      <span class="hljs-attr">label:</span> <span class="hljs-string">Somepage</span>
<span class="hljs-attr">pageTitle:</span> <span class="hljs-string">Your</span> <span class="hljs-string">Project—Styleguide</span>
<span class="hljs-attr">pageDescription:</span> <span class="hljs-string">A</span> <span class="hljs-string">pattern</span> <span class="hljs-string">library</span> <span class="hljs-string">for</span> <span class="hljs-string">Your</span> <span class="hljs-string">Project</span>
<span class="hljs-attr">pageModifiers:</span> <span class="hljs-string">&#x27;&#x27;</span>
<span class="hljs-attr">fonts:</span>
  <span class="hljs-attr">default:</span>
    <span class="hljs-attr">family:</span> <span class="hljs-string">Roboto</span>
    <span class="hljs-attr">fallback:</span> <span class="hljs-string">sans-serif</span>
    <span class="hljs-attr">weight:</span> <span class="hljs-number">400</span>
    <span class="hljs-attr">style:</span> <span class="hljs-string">normal</span>
    <span class="hljs-attr">fontface:</span> <span class="hljs-literal">true</span>
    <span class="hljs-attr">file:</span> <span class="hljs-string">roboto-regular</span>
  <span class="hljs-attr">mono:</span>
    <span class="hljs-attr">family:</span> <span class="hljs-string">Hack</span>
    <span class="hljs-attr">fallback:</span> <span class="hljs-string">monospace</span>
    <span class="hljs-attr">weight:</span> <span class="hljs-number">700</span>
    <span class="hljs-attr">style:</span> <span class="hljs-string">normal</span>
    <span class="hljs-attr">fontface:</span> <span class="hljs-literal">false</span>
</pre>
            
        
    </code>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-f42ee1d3f4a3a4452039ad9acd7065ed-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p>Use the font-functions and mixins in Sass to use the fonts, for example:
    <pre>
    .element {
      @include font(default);
      @include font-weight(bold);
      // etc. pp.
    }</pre>
    See src/styles/2-tools/fonts.scss.
    </p>

        
    </div>
</div>

    
    <div class="Browser-panel" data-role="tab-panel" id="browser-f42ee1d3f4a3a4452039ad9acd7065ed-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@font</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/font.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/font.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">src/patterns/1-identity/font/font.html</span>
        </li>
        
        
    </ul>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>

        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">
    
        
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <div class="Tree-header">
        <h3 class="Tree-title">documentation</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-docs-collection-development">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-docs-collection-development-items">
                    Development
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-docs-collection-development-items">
                
                
                
                
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/getting-started.html" data-pjax>
                <span>Getting Started</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/conventions.html" data-pjax>
                <span>Conventions</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/workflow.html" data-pjax>
                <span>Workflow</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/linting.html" data-pjax>
                <span>Linting</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/images.html" data-pjax>
                <span>Images</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/javascript.html" data-pjax>
                <span>Javascript</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/sass.html" data-pjax>
                <span>Sass</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/tools.html" data-pjax>
                <span>Tools</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../index.html" data-pjax>
                <span>Overview</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

    </ul>
</div>

</div>


    
        

    
    
    <div class="Navigation-group">
        
<div class="Tree" data-behaviour="tree" id="tree-components">
    <div class="Tree-header">
        <h3 class="Tree-title">Patterns</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-identity">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-identity-items">
                    Identity
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-identity-items">
                
                
                
                
    
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a class="Tree-entityLink" href="" data-pjax>
                <span>Fonts & Typefaces</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #2b9e0f;" title="Done"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="icon.html" data-pjax>
                <span>Icons & Sprites</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #2b9e0f;" title="Done"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-elements">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-elements-items">
                    Elements
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-elements-items">
                
                
                
                
    
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-button">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-button-items">
                    Button
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-button-items">
                
                
                
                
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button--link.html" data-pjax>
                <span>Link</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="flow.html" data-pjax>
                <span>Flow</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #999999;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="form.html" data-pjax>
                <span>Form</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #999999;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-image">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-image-items">
                    Image
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-image-items">
                
                
                
                
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="image--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #2b9e0f;" title="Done"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="image--portrait.html" data-pjax>
                <span>Portrait</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #2b9e0f;" title="Done"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="video.html" data-pjax>
                <span>Video</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-components">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-components-items">
                    Components
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-components-items">
                
                
                
                
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="footer.html" data-pjax>
                <span>Footer</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="header.html" data-pjax>
                <span>Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="logo.html" data-pjax>
                <span>Logo</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="nav.html" data-pjax>
                <span>Nav</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #999999;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-layouts">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-layouts-items">
                    Layouts
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-layouts-items">
                
                
                
                
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="layout.html" data-pjax>
                <span>Layout</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-templates">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-templates-items">
                    Templates
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-templates-items">
                
                
                
                
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="error.html" data-pjax>
                <span>Error</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="home.html" data-pjax>
                <span>Home</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    

    </ul>
</div>

    </div>
    


    
        
<div class="Navigation-group">
    <div class="Tree">
        <div class="Tree-header">
            <h3 class="Tree-title">
                Information
            </h3>
        </div>
        <dl class="Tree-aside">
            
                <div>
                    <dt class="Tree-asideTerm">Version:</dt>
                    <dd class="Tree-asideDescription">
                        
                            0.1.0
                        
                    </dd>
                </div>
            
                <div>
                    <dt class="Tree-asideTerm">Last build:</dt>
                    <dd class="Tree-asideDescription">
                        
                            <time datetime="2021-02-04T18:19:31.656Z">
                                4.2.2021
                            </time>
                        
                    </dd>
                </div>
            
        </dl>
    </div>
</div>


    
</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.7.0"></script>



</body>
</html>
