<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../subtheme/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/black.css?cachebust=1.3.0" type="text/css">

<link rel="stylesheet" href="../../subtheme/styleguide.css?cachebust=1.3.0" type="text/css">


<title>Home | Your Project—Styleguide</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
  <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
    <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

    <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

  </button>
  <a href="../../index.html" class="Header-title" data-pjax>Your Project—Styleguide</a>
  <span class="Header-version">v0.1.0</span>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-7bc0eae864b6631dc3be967db0f05d8e">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/home.html" title="Component preview">
            Home
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #999999; border-color: #999999;">Prototype</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-7bc0eae864b6631dc3be967db0f05d8e">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/home.html"
                sandbox="allow-same-origin allow-scripts allow-forms allow-modals"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-7bc0eae864b6631dc3be967db0f05d8e">

    

<div class="Browser-controls">
  <ul class="Browser-tabs">
    
      
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
          <a href="#browser-7bc0eae864b6631dc3be967db0f05d8e-panel-html">Rendered HTML</a>
        </li>
      
    
      
        <li class="Browser-tab Browser-tab--view" data-role="tab">
          <a href="#browser-7bc0eae864b6631dc3be967db0f05d8e-panel-view">Source</a>
        </li>
      
    
      
      
        
      
      
    
      
        <li class="Browser-tab Browser-tab--context" data-role="tab">
          <a href="#browser-7bc0eae864b6631dc3be967db0f05d8e-panel-context">Context</a>
        </li>
      
    
      
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
          <a href="#browser-7bc0eae864b6631dc3be967db0f05d8e-panel-notes">Notes</a>
        </li>
      
    
      
        <li class="Browser-tab Browser-tab--info" data-role="tab">
          <a href="#browser-7bc0eae864b6631dc3be967db0f05d8e-panel-info">Info</a>
        </li>
      
    
  </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-7bc0eae864b6631dc3be967db0f05d8e-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">header</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"header"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"/"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"logo"</span> <span class="hljs-attr">title</span>=<span class="hljs-string">"Back to the homepage"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"logo__label"</span>&gt;</span>Back to the homepage<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">svg</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"icon  icon--logo  logo__icon"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">use</span> <span class="hljs-attr">xlink:href</span>=<span class="hljs-string">"../../images/sprite.svg#icon--logo"</span>/&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">svg</span>&gt;</span>

<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">nav</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"nav"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">h2</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"nav__heading"</span>&gt;</span>Main navigation<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"nav__list"</span>&gt;</span>

            <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"nav__item"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"nav__link"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#somepage"</span>&gt;</span>
          Somepage
        <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>

        <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">nav</span>&gt;</span>

<span class="hljs-tag">&lt;/<span class="hljs-name">header</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">main</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"main"</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">h1</span>&gt;</span>Yay, homepage!<span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">figure</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"image"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">picture</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"image__picture"</span>&gt;</span>

            <span class="hljs-tag">&lt;<span class="hljs-name">source</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"image__source"</span> <span class="hljs-attr">srcset</span>=<span class="hljs-string">"//picsum.photos/480/320 480w, //picsum.photos/960/640 960w, //picsum.photos/1440/960 1440w"</span> <span class="hljs-attr">sizes</span>=<span class="hljs-string">"100vw"</span> /&gt;</span>

            <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"//picsum.photos/240/160"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">"Alternativtext für das Bild"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"image__fallback"</span> <span class="hljs-attr">title</span>=<span class="hljs-string">"Titel des Bildes / Copyrightinfos"</span> /&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">picture</span>&gt;</span>

        <span class="hljs-tag">&lt;<span class="hljs-name">figcaption</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"image__caption"</span>&gt;</span>Bildunterschrift<span class="hljs-tag">&lt;/<span class="hljs-name">figcaption</span>&gt;</span>

    <span class="hljs-tag">&lt;/<span class="hljs-name">figure</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">figure</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"image"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">picture</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"image__picture"</span>&gt;</span>

            <span class="hljs-tag">&lt;<span class="hljs-name">source</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"image__source"</span> <span class="hljs-attr">srcset</span>=<span class="hljs-string">"//picsum.photos/480/320 480w, //picsum.photos/960/640 960w, //picsum.photos/1440/960 1440w"</span> <span class="hljs-attr">sizes</span>=<span class="hljs-string">"100vw"</span> /&gt;</span>

            <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"//picsum.photos/240/160"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">"Alternativtext für das Bild"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"image__fallback"</span> <span class="hljs-attr">title</span>=<span class="hljs-string">"Titel des Bildes / Copyrightinfos"</span> /&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">picture</span>&gt;</span>

        <span class="hljs-tag">&lt;<span class="hljs-name">figcaption</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"image__caption"</span>&gt;</span>Bildunterschrift<span class="hljs-tag">&lt;/<span class="hljs-name">figcaption</span>&gt;</span>

    <span class="hljs-tag">&lt;/<span class="hljs-name">figure</span>&gt;</span>

<span class="hljs-tag">&lt;/<span class="hljs-name">main</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">footer</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"footer"</span>&gt;</span>
    Footercontent
<span class="hljs-tag">&lt;/<span class="hljs-name">footer</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-7bc0eae864b6631dc3be967db0f05d8e-panel-view">
    <code class="Code Code--lang-html">
        <pre>{% extends '<a href="layout.html">@layout</a>' %}

{% block main %}
  <span class="hljs-tag">&lt;<span class="hljs-name">h1</span>&gt;</span>Yay, homepage!<span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>
  {{ text | safe }}
  {% render '<a href="image.html">@image</a>', mainImage %}
  {% render '<a href="image.html">@image</a>', customImage %}
{% endblock %}</pre>
    </code>
</div>

    
    




    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-7bc0eae864b6631dc3be967db0f05d8e-panel-context">
    <code class="Code Code--lang-yaml">
        
            
            <pre><span class="hljs-attr">config:</span>
  <span class="hljs-attr">kalong:</span>
    <span class="hljs-attr">title:</span> <span class="hljs-string">Your</span> <span class="hljs-string">Project</span>
    <span class="hljs-attr">version:</span> <span class="hljs-number">0.1</span><span class="hljs-number">.0</span>
    <span class="hljs-attr">proxy:</span> <span class="hljs-string">yourproject.dev.localhost</span>
    <span class="hljs-attr">https:</span> <span class="hljs-literal">true</span>
    <span class="hljs-attr">port:</span> <span class="hljs-number">3000</span>
    <span class="hljs-attr">main:</span> <span class="hljs-string">main</span>
    <span class="hljs-attr">root:</span> <span class="hljs-string">./public/</span>
    <span class="hljs-attr">src:</span> <span class="hljs-string">./src/</span>
    <span class="hljs-attr">dest:</span> <span class="hljs-string">./public/assets/</span>
    <span class="hljs-attr">styleguide:</span> <span class="hljs-string">./public/styleguide/</span>
    <span class="hljs-attr">library:</span> <span class="hljs-string">./public/site/patterns/</span>
    <span class="hljs-attr">assets:</span> <span class="hljs-string">assets/</span>
    <span class="hljs-attr">config:</span> <span class="hljs-string">config/</span>
    <span class="hljs-attr">docs:</span> <span class="hljs-string">docs/</span>
    <span class="hljs-attr">fonts:</span> <span class="hljs-string">fonts/</span>
    <span class="hljs-attr">icons:</span> <span class="hljs-string">icons/</span>
    <span class="hljs-attr">images:</span> <span class="hljs-string">images/</span>
    <span class="hljs-attr">patterns:</span> <span class="hljs-string">patterns/</span>
    <span class="hljs-attr">templates:</span> <span class="hljs-string">templates/</span>
    <span class="hljs-attr">scripts:</span> <span class="hljs-string">scripts/</span>
    <span class="hljs-attr">styles:</span> <span class="hljs-string">styles/</span>
  <span class="hljs-attr">fonts:</span>
    <span class="hljs-attr">default:</span>
      <span class="hljs-attr">family:</span> <span class="hljs-string">Roboto</span>
      <span class="hljs-attr">fallback:</span> <span class="hljs-string">sans-serif</span>
      <span class="hljs-attr">weight:</span> <span class="hljs-number">400</span>
      <span class="hljs-attr">style:</span> <span class="hljs-string">normal</span>
      <span class="hljs-attr">fontface:</span> <span class="hljs-literal">true</span>
      <span class="hljs-attr">file:</span> <span class="hljs-string">roboto-regular</span>
    <span class="hljs-attr">mono:</span>
      <span class="hljs-attr">family:</span> <span class="hljs-string">Hack</span>
      <span class="hljs-attr">fallback:</span> <span class="hljs-string">monospace</span>
      <span class="hljs-attr">weight:</span> <span class="hljs-number">700</span>
      <span class="hljs-attr">style:</span> <span class="hljs-string">normal</span>
      <span class="hljs-attr">fontface:</span> <span class="hljs-literal">false</span>
  <span class="hljs-attr">mediaqueries:</span>
    <span class="hljs-attr">xs:</span> <span class="hljs-number">375</span>
    <span class="hljs-attr">s:</span> <span class="hljs-number">480</span>
    <span class="hljs-attr">m:</span> <span class="hljs-number">720</span>
    <span class="hljs-attr">l:</span> <span class="hljs-number">960</span>
    <span class="hljs-attr">xl:</span> <span class="hljs-number">1100</span>
    <span class="hljs-attr">xxl:</span> <span class="hljs-number">1280</span>
    <span class="hljs-attr">portrait:</span> <span class="hljs-string">'(orientation: portrait)'</span>
    <span class="hljs-attr">landscape:</span> <span class="hljs-string">'(orientation: landscape)'</span>
    <span class="hljs-attr">print:</span> <span class="hljs-string">print</span>
    <span class="hljs-attr">custom:</span> <span class="hljs-string">'(max-width: 30rem)'</span>
  <span class="hljs-attr">colors:</span>
    <span class="hljs-attr">default:</span> <span class="hljs-string">'#000'</span>
    <span class="hljs-attr">main:</span> <span class="hljs-string">'#f00'</span>
  <span class="hljs-attr">debug:</span> <span class="hljs-literal">true</span>
  <span class="hljs-attr">styleguide:</span> <span class="hljs-literal">true</span>
  <span class="hljs-attr">hash:</span> <span class="hljs-number">1587317047685</span>
<span class="hljs-attr">language:</span>
  <span class="hljs-attr">code:</span> <span class="hljs-string">en</span>
  <span class="hljs-attr">locale:</span> <span class="hljs-string">en_US</span>
  <span class="hljs-attr">direction:</span> <span class="hljs-string">ltr</span>
<span class="hljs-attr">nav:</span>
  <span class="hljs-attr">main:</span>
    <span class="hljs-bullet">-</span> <span class="hljs-attr">href:</span> <span class="hljs-string">'#somepage'</span>
      <span class="hljs-attr">label:</span> <span class="hljs-string">Somepage</span>
<span class="hljs-attr">pageTitle:</span> <span class="hljs-string">Your</span> <span class="hljs-string">Project—Styleguide</span>
<span class="hljs-attr">pageDescription:</span> <span class="hljs-string">A</span> <span class="hljs-string">pattern</span> <span class="hljs-string">library</span> <span class="hljs-string">for</span> <span class="hljs-string">Your</span> <span class="hljs-string">Project</span>
<span class="hljs-attr">pageModifiers:</span> <span class="hljs-string">''</span>
</pre>
            
        
    </code>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-7bc0eae864b6631dc3be967db0f05d8e-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">There are no notes for this item.</p>
        
    </div>
</div>

    
    <div class="Browser-panel" data-role="tab-panel" id="browser-7bc0eae864b6631dc3be967db0f05d8e-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@home</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/home.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/home.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">src/patterns/5-templates/home/home.html</span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">References <em class="Meta-count">(2)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="layout.html">@<span>layout</span></a>, 
            
                <a href="image.html">@<span>image</span></a>
            
            </span>
        </li class="Meta-item">
        
        
    </ul>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>

        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">
    
        
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">documentation</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-docs-collection-development">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Development</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/getting-started.html" data-pjax>
                <span>Getting Started</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/conventions.html" data-pjax>
                <span>Conventions</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/workflow.html" data-pjax>
                <span>Workflow</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/linting.html" data-pjax>
                <span>Linting</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/images.html" data-pjax>
                <span>Images</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/javascript.html" data-pjax>
                <span>Javascript</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/sass.html" data-pjax>
                <span>Sass</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/tools.html" data-pjax>
                <span>Tools</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../index.html" data-pjax>
                <span>Overview</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

    </ul>
</div>

</div>


    
        
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">Patterns</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-identity">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Identity</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="font.html" data-pjax>
                <span>Fonts & Typefaces</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #2b9e0f;" title="Done"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="icon.html" data-pjax>
                <span>Icons & Sprites</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #2b9e0f;" title="Done"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-elements">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Elements</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-button">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Button</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button--link.html" data-pjax>
                <span>Link</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="flow.html" data-pjax>
                <span>Flow</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #999999;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="form.html" data-pjax>
                <span>Form</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #999999;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="image.html" data-pjax>
                <span>Image</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #2b9e0f;" title="Done"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="video.html" data-pjax>
                <span>Video</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="footer.html" data-pjax>
                <span>Footer</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="header.html" data-pjax>
                <span>Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="logo.html" data-pjax>
                <span>Logo</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="nav.html" data-pjax>
                <span>Nav</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #999999;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-layouts">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Layouts</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="layout.html" data-pjax>
                <span>Layout</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-templates">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Templates</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a class="Tree-entityLink" href="" data-pjax>
                <span>Home</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #999999;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>


    
</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.3.0"></script>



</body>
</html>
