<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../subtheme/favicon.ico" type="image/ico">
<style>
    :root {
        
        
        
    }
</style>

<link rel="stylesheet" href="../../themes/mandelbrot/css/black.css?cachebust=1.9.4" type="text/css">

<link rel="stylesheet" href="../../subtheme/styleguide.css?cachebust=1.9.4" type="text/css">

<link rel="stylesheet" href="../../themes/mandelbrot/css/highlight.css?cachebust=1.9.4" type="text/css">


<title>Video | Your Project—Styleguide</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <div class="Header-navToggleIcon Header-navToggleIcon--open">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        </div>
        <div class="Header-navToggleIcon Header-navToggleIcon--closed">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

        </div>
    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Your Project—Styleguide</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            

<div class="Pen" data-behaviour="pen" id="pen-83c89f0d3af3ed33b09db81414c406ee">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/video.html" title="Preview">
            Video
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>

    <span class="Pen-preview-size" data-role="preview-size"></span>

    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #ed8015; border-color: #ed8015;">Work in Progress</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-83c89f0d3af3ed33b09db81414c406ee">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/video.html"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-83c89f0d3af3ed33b09db81414c406ee">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-83c89f0d3af3ed33b09db81414c406ee-panel-html">
                HTML
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-83c89f0d3af3ed33b09db81414c406ee-panel-view">
                View
            </a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-83c89f0d3af3ed33b09db81414c406ee-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-83c89f0d3af3ed33b09db81414c406ee-panel-context">
                Context
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-83c89f0d3af3ed33b09db81414c406ee-panel-notes">
                Notes
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-83c89f0d3af3ed33b09db81414c406ee-panel-info">
                Info
            </a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-83c89f0d3af3ed33b09db81414c406ee-panel-html">
    <code class="Code Code--lang-html hljs">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;video&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">video</span> <span class="hljs-attr">data-lazyload</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;video__element&quot;</span> <span class="hljs-attr">muted</span> <span class="hljs-attr">loop</span> <span class="hljs-attr">playsinline</span> <span class="hljs-attr">poster</span>=<span class="hljs-string">&quot;//localhost/__mock/video-landscape.jpg&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">source</span> <span class="hljs-attr">data-src</span>=<span class="hljs-string">&quot;//localhost/__mock/video-landscape.mp4&quot;</span> <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;video/mp4&quot;</span> /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">video</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-83c89f0d3af3ed33b09db81414c406ee-panel-view">
    <code class="Code Code--lang-html hljs">
        <pre>{% if not attributes %}
  {% set attributes = &#x27;muted loop playsinline&#x27; %}
{% endif %}

<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;video{% if modifiers %}  {{ modifiers }}{% endif %}&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">video</span>
    <span class="hljs-attr">data-lazyload</span>
    <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;video__element&quot;</span>
    {{ <span class="hljs-attr">attributes</span> | <span class="hljs-attr">raw</span> }}
    {% <span class="hljs-attr">if</span> <span class="hljs-attr">poster</span> %} <span class="hljs-attr">poster</span>=<span class="hljs-string">&quot;{{ poster }}&quot;</span>{% <span class="hljs-attr">endif</span> %}
  &gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">source</span> <span class="hljs-attr">data-src</span>=<span class="hljs-string">&quot;{{ source }}&quot;</span> <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;video/mp4&quot;</span> /&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">video</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></pre>
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-83c89f0d3af3ed33b09db81414c406ee-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-ab2dc56b81e06868a12eba03263f1ca6">video.scss</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-ab2dc56b81e06868a12eba03263f1ca6" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code hljs">
                                <pre><span class="hljs-selector-class">.video</span> {
  <span class="hljs-keyword">@include</span> block;
}

<span class="hljs-selector-class">.video__element</span> {
  <span class="hljs-attribute">width</span>: <span class="hljs-number">100%</span>;
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/video/video.scss"><span>/components/raw/video/video.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/patterns/2-elements/video/video.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">65 Bytes</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-83c89f0d3af3ed33b09db81414c406ee-panel-context">
    <code class="Code Code--lang-yaml hljs">
        
            
            <pre><span class="hljs-attr">config:</span>
  <span class="hljs-attr">kalong:</span>
    <span class="hljs-attr">title:</span> <span class="hljs-string">Your</span> <span class="hljs-string">Project</span>
    <span class="hljs-attr">version:</span> <span class="hljs-number">0.1</span><span class="hljs-number">.0</span>
    <span class="hljs-attr">proxy:</span> <span class="hljs-string">yourproject.dev.localhost</span>
    <span class="hljs-attr">https:</span> <span class="hljs-literal">true</span>
    <span class="hljs-attr">port:</span> <span class="hljs-number">3000</span>
    <span class="hljs-attr">main:</span> <span class="hljs-string">main</span>
    <span class="hljs-attr">root:</span> <span class="hljs-string">./public/</span>
    <span class="hljs-attr">src:</span> <span class="hljs-string">./src/</span>
    <span class="hljs-attr">dest:</span> <span class="hljs-string">./public/assets/</span>
    <span class="hljs-attr">styleguide:</span> <span class="hljs-string">./public/styleguide/</span>
    <span class="hljs-attr">library:</span> <span class="hljs-string">./public/site/patterns/</span>
    <span class="hljs-attr">assets:</span> <span class="hljs-string">assets/</span>
    <span class="hljs-attr">config:</span> <span class="hljs-string">config/</span>
    <span class="hljs-attr">docs:</span> <span class="hljs-string">docs/</span>
    <span class="hljs-attr">fonts:</span> <span class="hljs-string">fonts/</span>
    <span class="hljs-attr">icons:</span> <span class="hljs-string">icons/</span>
    <span class="hljs-attr">images:</span> <span class="hljs-string">images/</span>
    <span class="hljs-attr">patterns:</span> <span class="hljs-string">patterns/</span>
    <span class="hljs-attr">templates:</span> <span class="hljs-string">templates/</span>
    <span class="hljs-attr">scripts:</span> <span class="hljs-string">scripts/</span>
    <span class="hljs-attr">styles:</span> <span class="hljs-string">styles/</span>
  <span class="hljs-attr">fonts:</span>
    <span class="hljs-attr">default:</span>
      <span class="hljs-attr">family:</span> <span class="hljs-string">Roboto</span>
      <span class="hljs-attr">fallback:</span> <span class="hljs-string">sans-serif</span>
      <span class="hljs-attr">weight:</span> <span class="hljs-number">400</span>
      <span class="hljs-attr">style:</span> <span class="hljs-string">normal</span>
      <span class="hljs-attr">fontface:</span> <span class="hljs-literal">true</span>
      <span class="hljs-attr">file:</span> <span class="hljs-string">roboto-regular</span>
    <span class="hljs-attr">mono:</span>
      <span class="hljs-attr">family:</span> <span class="hljs-string">Hack</span>
      <span class="hljs-attr">fallback:</span> <span class="hljs-string">monospace</span>
      <span class="hljs-attr">weight:</span> <span class="hljs-number">700</span>
      <span class="hljs-attr">style:</span> <span class="hljs-string">normal</span>
      <span class="hljs-attr">fontface:</span> <span class="hljs-literal">false</span>
  <span class="hljs-attr">mediaqueries:</span>
    <span class="hljs-attr">xs:</span> <span class="hljs-number">375</span>
    <span class="hljs-attr">s:</span> <span class="hljs-number">480</span>
    <span class="hljs-attr">m:</span> <span class="hljs-number">720</span>
    <span class="hljs-attr">l:</span> <span class="hljs-number">960</span>
    <span class="hljs-attr">xl:</span> <span class="hljs-number">1100</span>
    <span class="hljs-attr">xxl:</span> <span class="hljs-number">1280</span>
    <span class="hljs-attr">portrait:</span> <span class="hljs-string">&#x27;(orientation: portrait)&#x27;</span>
    <span class="hljs-attr">landscape:</span> <span class="hljs-string">&#x27;(orientation: landscape)&#x27;</span>
    <span class="hljs-attr">print:</span> <span class="hljs-string">print</span>
    <span class="hljs-attr">custom:</span> <span class="hljs-string">&#x27;(max-width: 30rem)&#x27;</span>
  <span class="hljs-attr">colors:</span>
    <span class="hljs-attr">icon:</span> <span class="hljs-string">&#x27;#000&#x27;</span>
    <span class="hljs-attr">theme:</span> <span class="hljs-string">&#x27;#f00&#x27;</span>
    <span class="hljs-attr">tile:</span> <span class="hljs-string">&#x27;#f00&#x27;</span>
  <span class="hljs-attr">debug:</span> <span class="hljs-literal">true</span>
  <span class="hljs-attr">styleguide:</span> <span class="hljs-literal">true</span>
  <span class="hljs-attr">hash:</span> <span class="hljs-number">1640268609907</span>
<span class="hljs-attr">language:</span>
  <span class="hljs-attr">code:</span> <span class="hljs-string">en</span>
  <span class="hljs-attr">locale:</span> <span class="hljs-string">en_US</span>
  <span class="hljs-attr">direction:</span> <span class="hljs-string">ltr</span>
<span class="hljs-attr">nav:</span>
  <span class="hljs-attr">main:</span>
    <span class="hljs-bullet">-</span> <span class="hljs-attr">href:</span> <span class="hljs-string">&#x27;#somepage&#x27;</span>
      <span class="hljs-attr">label:</span> <span class="hljs-string">Somepage</span>
<span class="hljs-attr">pageTitle:</span> <span class="hljs-string">Your</span> <span class="hljs-string">Project—Styleguide</span>
<span class="hljs-attr">pageDescription:</span> <span class="hljs-string">A</span> <span class="hljs-string">pattern</span> <span class="hljs-string">library</span> <span class="hljs-string">for</span> <span class="hljs-string">Your</span> <span class="hljs-string">Project</span>
<span class="hljs-attr">pageModifiers:</span> <span class="hljs-string">&#x27;&#x27;</span>
<span class="hljs-attr">modifiers:</span> <span class="hljs-string">&#x27;&#x27;</span>
<span class="hljs-attr">attributes:</span> <span class="hljs-string">muted</span> <span class="hljs-string">loop</span> <span class="hljs-string">playsinline</span>
<span class="hljs-attr">poster:</span> <span class="hljs-string">//localhost/__mock/video-landscape.jpg</span>
<span class="hljs-attr">source:</span> <span class="hljs-string">//localhost/__mock/video-landscape.mp4</span>
</pre>
            
        
    </code>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-83c89f0d3af3ed33b09db81414c406ee-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">No notes defined.</p>
        
    </div>
</div>

    
    <div class="Browser-panel" data-role="tab-panel" id="browser-83c89f0d3af3ed33b09db81414c406ee-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@video</span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/video.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/video.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">src/patterns/2-elements/video/video.html</span>
        </li>
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Referenced by <em class="Meta-count">(1)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="./home.html">@<span>home</span></a>
            
            </span>
        </li>
        
    </ul>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            

    
    


<nav class="Navigation" data-behaviour="navigation">
    <div class="Navigation-panel Navigation-panel--main" data-role="main-panel">
    
        
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <div class="Tree-header">
        <h3 class="Tree-title">documentation</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-docs-collection-development">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-docs-collection-development-items">
                    Development
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-docs-collection-development-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/getting-started.html" data-role="tree-link" data-pjax data-handle="development">
                <span>Getting Started</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/conventions.html" data-role="tree-link" data-pjax data-handle="development">
                <span>Conventions</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/workflow.html" data-role="tree-link" data-pjax data-handle="development">
                <span>Workflow</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/linting.html" data-role="tree-link" data-pjax data-handle="development">
                <span>Linting</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/images.html" data-role="tree-link" data-pjax data-handle="development">
                <span>Images</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/javascript.html" data-role="tree-link" data-pjax data-handle="development">
                <span>Javascript</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/sass.html" data-role="tree-link" data-pjax data-handle="development">
                <span>Sass</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/development/tools.html" data-role="tree-link" data-pjax data-handle="development">
                <span>Tools</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../index.html" data-role="tree-link" data-pjax data-handle="">
                <span>Overview</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

    </ul>
</div>

</div>


    
        

    
    
    <div class="Navigation-group">
        
<div class="Tree" data-behaviour="tree" id="tree-components">
    <div class="Tree-header">
        <h3 class="Tree-title">Patterns</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-identity">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-identity-items">
                    Identity
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-identity-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./font.html" data-role="tree-link" data-pjax data-handle="font">
                <span>Fonts & Typefaces</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #2b9e0f;" title="Done"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./icon.html" data-role="tree-link" data-pjax data-handle="icon">
                <span>Icons & Sprites</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #2b9e0f;" title="Done"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-elements">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-elements-items">
                    Elements
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-elements-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./button--default.html" data-role="tree-link" data-pjax data-handle="button">
                <span>Button</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./flow.html" data-role="tree-link" data-pjax data-handle="flow">
                <span>Flow</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #999999;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./form.html" data-role="tree-link" data-pjax data-handle="form">
                <span>Form</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #999999;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./image--default.html" data-role="tree-link" data-pjax data-handle="image">
                <span>Image</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #2b9e0f;" title="Done"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a class="Tree-entityLink" href="./video.html" data-role="tree-link" data-pjax data-handle="video">
                <span>Video</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-components">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-components-items">
                    Components
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-components-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./footer.html" data-role="tree-link" data-pjax data-handle="footer">
                <span>Footer</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./header.html" data-role="tree-link" data-pjax data-handle="header">
                <span>Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./logo.html" data-role="tree-link" data-pjax data-handle="logo">
                <span>Logo</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./nav.html" data-role="tree-link" data-pjax data-handle="nav">
                <span>Nav</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #999999;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-layouts">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-layouts-items">
                    Layouts
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-layouts-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./layout.html" data-role="tree-link" data-pjax data-handle="layout">
                <span>Layout</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-templates">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-templates-items">
                    Templates
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-templates-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./default.html" data-role="tree-link" data-pjax data-handle="default">
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./error.html" data-role="tree-link" data-pjax data-handle="error">
                <span>Error</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./home.html" data-role="tree-link" data-pjax data-handle="home">
                <span>Home</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    

    </ul>
</div>

    </div>
    


    
        
<div class="Navigation-group">
    <div class="Tree">
        <div class="Tree-header">
            <h3 class="Tree-title">
                Information
            </h3>
        </div>
        <dl class="Tree-aside">
            
                <div>
                    <dt class="Tree-asideTerm">Version:</dt>
                    <dd class="Tree-asideDescription">
                        
                            0.1.0
                        
                    </dd>
                </div>
            
                <div>
                    <dt class="Tree-asideTerm">Last build:</dt>
                    <dd class="Tree-asideDescription">
                        
                            <time datetime="2021-12-23T14:10:07.491Z">
                                23.12.2021
                            </time>
                        
                    </dd>
                </div>
            
        </dl>
    </div>
</div>


    
    </div>

    <div class="Navigation-panel Navigation-panel--variants" data-role="variant-panel">
        <div class="Navigation-backButtonWrapper">
            <button class="Navigation-backButton" data-role="back" type="button">
                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M4 12C4 11.4477 4.44772 11 5 11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H5C4.44772 13 4 12.5523 4 12Z"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.7071 4.29289C13.0976 4.68342 13.0976 5.31658 12.7071 5.70711L6.41421 12L12.7071 18.2929C13.0976 18.6834 13.0976 19.3166 12.7071 19.7071C12.3166 20.0976 11.6834 20.0976 11.2929 19.7071L4.29289 12.7071C3.90237 12.3166 3.90237 11.6834 4.29289 11.2929L11.2929 4.29289C11.6834 3.90237 12.3166 3.90237 12.7071 4.29289Z"/>
</svg>

                Back
            </button>
        </div>
        
    
        
    
        
            
            <div class="Navigation-group" data-role="variant-group" data-component="icon">
                
<div class="Tree" data-behaviour="tree" id="tree-icon-variants">
    <div class="Tree-header">
        <h3 class="Tree-title">Icon Variants</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./icon--default.html" data-role="tree-link" data-pjax data-handle="icon">
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #2b9e0f;" title="Done"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./icon--logo.html" data-role="tree-link" data-pjax data-handle="icon">
                <span>Logo</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #2b9e0f;" title="Done"></span>


</div>

</div>


            </a>
        </li>
        
    

    </ul>
</div>

            </div>
        
    
        
            
            <div class="Navigation-group" data-role="variant-group" data-component="button">
                
<div class="Tree" data-behaviour="tree" id="tree-button-variants">
    <div class="Tree-header">
        <h3 class="Tree-title">Button Variants</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./button--default.html" data-role="tree-link" data-pjax data-handle="button">
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./button--link.html" data-role="tree-link" data-pjax data-handle="button">
                <span>Link</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ed8015;" title="Work in Progress"></span>


</div>

</div>


            </a>
        </li>
        
    

    </ul>
</div>

            </div>
        
    
        
    
        
    
        
            
            <div class="Navigation-group" data-role="variant-group" data-component="image">
                
<div class="Tree" data-behaviour="tree" id="tree-image-variants">
    <div class="Tree-header">
        <h3 class="Tree-title">Image Variants</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./image--default.html" data-role="tree-link" data-pjax data-handle="image">
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #2b9e0f;" title="Done"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="./image--portrait.html" data-role="tree-link" data-pjax data-handle="image">
                <span>Portrait</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #2b9e0f;" title="Done"></span>


</div>

</div>


            </a>
        </li>
        
    

    </ul>
</div>

            </div>
        
    
        
    
        
    
        
    
        
    
        
    
        
    
        
    
        
    
        
    
        
    
        
    
        
    


    </div>
</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.9.4"></script>



</body>
</html>
