.-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.-stack:only-child {
  block-size: 100%;
}

.-stack--recursive *,
.-stack > * {
  margin-block: 0;
}

.-stack--recursive * + *,
.-stack > * + * {
  margin-block-start: var(--stack);
}
