/* Should come from styleguide-config, but tailwind :/ ... */
@custom-media --viewport-sm (width >= 640px);
@custom-media --viewport-md (width >= 960px);
@custom-media --viewport-lg (width >= 1280px);

* {
  &,
  &::before,
  &::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
  }
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}

label[for] {
  cursor: pointer;
}

[unselectable] {
  user-select: none;
}

[disabled] {
  cursor: not-allowed;
}
