.button {
  @include padding(a 1/2);
  @include color(default);
  @include background-color(background);
  border: 1px solid currentColor;

  @include attention {
    @include color(main);
    text-decoration: none; // for links
  }
}

.button--link {
  display: inline-block;
}
