<!doctype html>
<html class="no-js{% if debug %}  fonts-loaded{% endif %}{% if site.modifiers %}  {{ site.modifiers }}{% endif %}" lang="{{ site.lang }}" dir="{{ site.dir }}">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }}{% if page.title %} — {{ page .title }}{% else %} Home{%endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/apple-touch-icon.png' | path }}" />
    <link rel="icon" type="image/png" href="{{ '/images/favicon-32x32.png' | path }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ '/images/favicon-16x16.png' | path }}" sizes="16x16" />
    <link rel="mask-icon" href="{{ '/images/safari-pinned-tab.svg' | path }}" color="#f78474" />
    <meta name="theme-color" content="{{ site.themecolor }}" />
    <link rel="manifest" href="/manifest.json" />

    <!-- add any og/twitter-card stuff here -->

    {% if debug %}
      <!-- you can/should remove the styleguide-styles for production -->
      <style>
        .styleguide-pattern-wrapper {
          margin: 0 0 20px;
        }
      </style>
      <link rel="stylesheet" href="{{ '/styles/main.css' | path }}" />
    {% else %}
      <link rel="stylesheet" href="{{ '/styles/main.min.css' | path }}" />
      <link rel="preload" href="{{ '/fonts/roboto-regular.woff2' | path }}" as="font" type="font/woff2" crossorigin />
    {% endif %}
  </head>
  <body>
