

<!doctype html>
<html class="no-js  fonts-loaded" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Preview: Default</title>
    <style>
      .styleguide-pattern-wrapper {
        margin: 0 0 20px;
      }
    </style>
    <link rel="stylesheet" href="../../styles/main.css" />
    <script src="../../scripts/main.js" defer></script>
  </head>
  <body>
    <!--
      This template is used to display the patterns in fractal, you should not have to
      edit it, unless you changed the path to the assets folder or folders therein
    -->
    <div class="styleguide-pattern-wrapper">
<button type="button" class="button">
    <span class="button__text">
      Button
    </span>
  </button>
</div>

<div class="styleguide-pattern-wrapper">
<a href="#" role="button" class="button" title="Click here!">
    <span class="button__text">
      Button as link
    </span>
  </a>
</div>

  </body>
</html>

