

<!doctype html>
<html class="no-js  fonts-loaded" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Preview: Default</title>
    <style>
      .styleguide-pattern-wrapper {
        margin: 0 0 20px;
      }
    </style>
    <link rel="stylesheet" href="../../styles/main.css" />
    <script src="../../scripts/main.js" defer></script>
  </head>
  <body>
    <!--
      This template is used to display the patterns in fractal, you should not have to
      edit it, unless you changed the path to the assets folder or folders therein
    -->
    <div class="example  js-example  example--default">
  Eos asperiores quia maxime maiores totam veniam reprehenderit. Quas est sunt quasi amet. Fugiat perspiciatis voluptate. Porro iste minima voluptatem non laborum ut est reiciendis quia. Eos ut maxime ea quis.
</div>

  </body>
</html>

