

<!doctype html>
<html class="no-js  fonts-loaded" lang="de" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>
         — Your Project—Styleguide
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png" />
    <link rel="icon" sizes="32x32" type="image/png" href="../../images/favicon-32x32.png" />
    <link rel="icon" sizes="16x16" type="image/png" href="../../images/favicon-16x16.png" />
    <link rel="mask-icon" href="../../images/safari-pinned-tab.svg" color="#000" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#f00" />
    <meta name="theme-color" content="#f00" />

    <!-- add any og/twitter-card stuff here -->
      <link rel="stylesheet" href="../../styles/main.css" />
  </head>
  <body>


  <p class="font-size--default">
    default: 2rem
  </p>

  <p class="font-size--h1">
    h1: 4.8rem
  </p>

  <p class="font-size--h2">
    h2: calc(2rem + 1vw)
  </p>

  <p class="font-size--h3">
    h3: 3.2rem
  </p>

  <p class="font-size--h4">
    h4: 2rem
  </p>

  <p class="font-size--h5">
    h5: 1.6rem
  </p>

  <p class="font-size--h6">
    h6: 1.3rem
  </p>


  
    <script src="../../scripts/main.js" defer></script>
  
  </body>
</html>



