

<!doctype html>
<html class="no-js  fonts-loaded" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Your Project—Styleguide Home</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="../../images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../../images/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="../../images/safari-pinned-tab.svg" color="#f00" />
    <meta name="msapplication-TileColor" content="#f00">
    <meta name="theme-color" content="#f00" />

    <!-- add any og/twitter-card stuff here -->

    
      <link rel="stylesheet" href="../../styles/main.css" />
    
  </head>
  <body>


  <h3 style="margin-bottom: 0;">default</h3>
  <p class="font--default">
    Typeface: Roboto<br />
    Fallback: sans-serif<br />
    Weight: 400<br />
    Style: normal<br />
    
      Uses @font-face with file: roboto-regular<br />
    
  </p>


  <p class="font--default" style="padding: 1em; background: #eee;">
    Example Text:<br />
    Manchmal Sätze, die alle Buchstaben des Alphabets enthalten - man nennt
    diese Sätze »Pangrams«. Sehr bekannt ist dieser: The quick brown fox jumps
    over the lazy old dog. Oft werden in Typoblindtexte auch fremdsprachige
    Satzteile eingebaut (AVAIL® and Wefox™ are testing aussi la Kerning),
    um die Wirkung in anderen Sprachen zu testen. In Lateinisch sieht zum
    Beispiel fast jede Schrift gut aus.<br /><br />
    Quod erat demonstrandum. Seit 1975 fehlen in den meisten Testtexten die Zahlen,
    weswegen nach TypoGb. 204 § ab dem Jahr 2034 Zahlen in 86 der Texte zur
    Pflicht werden. Nichteinhaltung wird mit bis zu 245 € oder 368 $ bestraft.
    Genauso wichtig in sind mittlerweile auch Âçcèñtë, die in neueren Schriften
    aber fast immer enthalten sind. Ein wichtiges aber schwierig zu integrierendes
    Feld sind OpenType-Funktionalitäten.
  </p>

  <h3 style="margin-bottom: 0;">mono</h3>
  <p class="font--mono">
    Typeface: Hack<br />
    Fallback: monospace<br />
    Weight: 700<br />
    Style: normal<br />
    
  </p>


  <p class="font--mono" style="padding: 1em; background: #eee;">
    Example Text:<br />
    Manchmal Sätze, die alle Buchstaben des Alphabets enthalten - man nennt
    diese Sätze »Pangrams«. Sehr bekannt ist dieser: The quick brown fox jumps
    over the lazy old dog. Oft werden in Typoblindtexte auch fremdsprachige
    Satzteile eingebaut (AVAIL® and Wefox™ are testing aussi la Kerning),
    um die Wirkung in anderen Sprachen zu testen. In Lateinisch sieht zum
    Beispiel fast jede Schrift gut aus.<br /><br />
    Quod erat demonstrandum. Seit 1975 fehlen in den meisten Testtexten die Zahlen,
    weswegen nach TypoGb. 204 § ab dem Jahr 2034 Zahlen in 86 der Texte zur
    Pflicht werden. Nichteinhaltung wird mit bis zu 245 € oder 368 $ bestraft.
    Genauso wichtig in sind mittlerweile auch Âçcèñtë, die in neueren Schriften
    aber fast immer enthalten sind. Ein wichtiges aber schwierig zu integrierendes
    Feld sind OpenType-Funktionalitäten.
  </p>


  
    <script src="../../scripts/main.js" defer></script>
  
  </body>
</html>



