

<!doctype html>
<html class="no-js  fonts-loaded" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Your Project—Styleguide</title>
    <meta name="description" content="A pattern library for Your Project" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png" />
    <link rel="icon" sizes="32x32" type="image/png" href="../../images/favicon-32x32.png" />
    <link rel="icon" sizes="16x16" type="image/png" href="../../images/favicon-16x16.png" />
    <link rel="mask-icon" href="../../images/safari-pinned-tab.svg" color="#000" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#f00" />
    <meta name="theme-color" content="#f00" />

    <!-- add any og/twitter-card stuff here -->
      <link rel="stylesheet" href="../../styles/main.css?v=1587317047685" />
  </head>
  <body>


  <div class="flow">
    <h1>default</h1>

    <h2>Überschrift 2</h2>
    <h3>Überschrift 3</h3>
    <h4>Überschrift 4</h4>
    <h5>Überschrift 5</h5>
    <h6>Überschrift 6</h6>

    <p class="font--default">
      Typeface: Roboto<br />
      Fallback: sans-serif<br />
      Weight: 400<br />
      Style: normal<br />
      
        Uses @font-face with file: roboto-regular
      
    </p>

    <p class="font--default">
      Manchmal Sätze, die alle Buchstaben des Alphabets enthalten - man nennt
      diese Sätze »Pangrams«. Sehr bekannt ist dieser: The quick brown fox jumps
      over the lazy old dog. Oft werden in Typoblindtexte auch fremdsprachige
      Satzteile eingebaut (AVAIL® and Wefox™ are testing aussi la Kerning),
      um die Wirkung in anderen Sprachen zu testen. In Lateinisch sieht zum
      Beispiel fast jede Schrift gut aus.
    </p>
  </div>

  <div class="flow">
    <h1>mono</h1>

    <h2>Überschrift 2</h2>
    <h3>Überschrift 3</h3>
    <h4>Überschrift 4</h4>
    <h5>Überschrift 5</h5>
    <h6>Überschrift 6</h6>

    <p class="font--mono">
      Typeface: Hack<br />
      Fallback: monospace<br />
      Weight: 700<br />
      Style: normal<br />
      
    </p>

    <p class="font--mono">
      Manchmal Sätze, die alle Buchstaben des Alphabets enthalten - man nennt
      diese Sätze »Pangrams«. Sehr bekannt ist dieser: The quick brown fox jumps
      over the lazy old dog. Oft werden in Typoblindtexte auch fremdsprachige
      Satzteile eingebaut (AVAIL® and Wefox™ are testing aussi la Kerning),
      um die Wirkung in anderen Sprachen zu testen. In Lateinisch sieht zum
      Beispiel fast jede Schrift gut aus.
    </p>
  </div>


  
    <script src="../../scripts/main.js?v=1587317047685" defer></script>
  
  </body>
</html>



