

<!doctype html>
<html class="no-js  fonts-loaded" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Your Project—Styleguide</title>
    <meta name="description" content="A pattern library for Your Project" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="icon" sizes="32x32" type="image/png" href="/images/favicon-32x32.png" />
    <link rel="icon" sizes="16x16" type="image/png" href="/images/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#000" />
    <meta name="msapplication-TileColor" content="#f00" />
    <meta name="theme-color" content="#f00" />

    <!-- add any og/twitter-card stuff here -->      <link rel="stylesheet" href="/styles/main.css?v=1640268685945" />  </head>
  <body>
<svg class="icon  icon--logo">
  <use xlink:href="../../images/sprite.svg#icon--logo"/>
</svg>

      <script src="/scripts/main.js?v=1640268685945" defer></script>
    </body>
</html>


