

<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Your Project—Styleguide</title>
    <meta name="description" content="A pattern library for Your Project" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png" />
    <link rel="icon" sizes="32x32" type="image/png" href="../../images/favicon-32x32.png" />
    <link rel="icon" sizes="16x16" type="image/png" href="../../images/favicon-16x16.png" />
    <link rel="mask-icon" href="../../images/safari-pinned-tab.svg" color="#000" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#f00" />
    <meta name="theme-color" content="#f00" />

    <!-- add any og/twitter-card stuff here -->
      
      <link id="modern-browsers" rel="stylesheet" href="../../styles/main.min.css?v=1563007315699" media="
        only print,
        only all and (pointer: fine), only all and (pointer: coarse), only all and (pointer: none),
        only all and (min--moz-device-pixel-ratio:0) and (display-mode:browser), (min--moz-device-pixel-ratio:0) and (display-mode:fullscreen)
        " />
          <link rel="preload" href="../../fonts/roboto-regular.woff2" as="font" type="font/woff2" crossorigin />
  </head>
  <body>

<svg class="icon  icon--default">
  <use xlink:href="../../images/sprite.svg#icon--default"/>
</svg>

  
    <!-- load legacy js code for browsers that do not support es2017+ -->
    <script>
      var modern = function() { var mq = document.getElementById('modern-browsers'); return window.matchMedia && window.matchMedia(mq.media).matches; };
      var loadJs = function(src) { var ref = document.getElementsByTagName('script')[0]; var script = document.createElement('script'); script.src = src; script.async = true; ref.parentNode.insertBefore(script, ref); };
      var loadCss = function (src) { var ref = document.getElementsByTagName('head')[0]; var style = document.createElement('link'); style.href = src; style.rel = 'stylesheet'; head.append(style); };

      if (modern()) {
        loadJs("../../scripts/main.min.js?v=1563007315699");
        
      } else {
        loadCSS("../../styles/main.legacy.css?v=1563007315699");
        loadJs("../../scripts/main.legacy.min.js?v=1563007315699");
      }
    </script>
  
  </body>
</html>



