

<!doctype html>
<html class="no-js  fonts-loaded" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Your Project—Styleguide</title>
    <meta name="description" content="A pattern library for Your Project" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="icon" sizes="32x32" type="image/png" href="/images/favicon-32x32.png" />
    <link rel="icon" sizes="16x16" type="image/png" href="/images/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#000" />
    <meta name="msapplication-TileColor" content="#f00" />
    <meta name="theme-color" content="#f00" />

    <!-- add any og/twitter-card stuff here -->      <link rel="stylesheet" href="/styles/main.css?v=1647358342692" />  </head>
  <body>
<figure class="image  image--landscape">
  <picture class="image__picture">
          <source class="image__picture-source"
        data-srcset="//__mock.dev.localhost/landscape-640.webp 640w, //__mock.dev.localhost/landscape-960.webp 960w, //__mock.dev.localhost/landscape-1200.webp 1200w, //__mock.dev.localhost/landscape-1440.webp 1440w, //__mock.dev.localhost/landscape-1600.webp 1600w, //__mock.dev.localhost/landscape-1920.webp 1920w"
        type="image/webp"
         sizes="100vw"      />
          <source class="image__picture-source"
        data-srcset="//__mock.dev.localhost/landscape-640.jpg 640w, //__mock.dev.localhost/landscape-960.jpg 960w, //__mock.dev.localhost/landscape-1200.jpg 1200w, //__mock.dev.localhost/landscape-1440.jpg 1440w, //__mock.dev.localhost/landscape-1600.jpg 1600w, //__mock.dev.localhost/landscape-1920.jpg 1920w"
        type="image/jpeg"
         sizes="100vw"      />
        <img src="//__mock.dev.localhost/landscape-640.jpg" alt="Alternativtext für das Bild" class="image__src" title="Titel des Bildes / Copyrightinfos" />
  </picture>

  </figure>

      <script src="/scripts/main.js?v=1647358342692" defer></script>
    </body>
</html>


