{% for font, config in fonts %}
  <div class="flow">
    <h1>Font: {{ font }}</h1>

    <h2>Überschrift 2</h2>
    <h3>Überschrift 3</h3>
    <h4>Überschrift 4</h4>
    <h5>Überschrift 5</h5>
    <h6>Überschrift 6</h6>

    <p class="font--{{ font }}">
      Typeface: {{ config.family }}<br />
      Fallback: {{ config.fallback }}<br />
      Weight: {{ config.weight }}<br />
      Style: {{ config.style }}<br />
      {% if config.fontface %}
        Uses @font-face with file: {{ config.file }}
      {% endif %}
    </p>

    <p class="font--{{ font }}">
      Manchmal Sätze, die alle Buchstaben des Alphabets enthalten - man nennt
      diese Sätze »Pangrams«. Sehr bekannt ist dieser: The quick brown fox jumps
      over the lazy old dog. Oft werden in Typoblindtexte auch fremdsprachige
      Satzteile eingebaut (AVAIL® and Wefox™ are testing aussi la Kerning),
      um die Wirkung in anderen Sprachen zu testen. In Lateinisch sieht zum
      Beispiel fast jede Schrift gut aus.
    </p>
  </div>
{% endfor %}
