// base unit definition and width/heights for other stuff
$base-font-size: 16px;
$base-line-height: 1.5;

$base-unit: 1rem * $base-line-height;
$base-half: $base-unit / 2;
$base-third: $base-unit / 3;
$base-quart: $base-unit / 4;
$base-double: $base-unit * 2;
$base-triple: $base-unit * 3;
$base-quad: $base-unit * 4;
