// define your colors here, and feel free to use 'real' names, just
// like below --> color-red: #fff; but never use those colors in your
// project, only use the map + mixins, where you assing the colors in

$color-black: #000;
$color-white: #fff;
$color-red: #f78474;

$colors: (
  default: $color-black,
  main: $color-red,
  error: $color-red,
  inverted: $color-white,
  border: $color-black,
  background: $color-white
);
