$breakpoints: (
  s: (min-width: 640px),
  m: (min-width: 760px),
  l: (min-width: 980px),
  xl: (min-width: 1240px),
  xxl: (min-width: 1520px),
);

$otherqueries: (
  portrait: '(orientation: portrait)',
  landscape: '(orientation: landscape)',
  print: 'print',
);

$mediaqueries: map-merge($breakpoints, $otherqueries);
