.example {
  @include padding(a 1);
  border: 1px solid currentColor;
  box-shadow: 0 0 $base-unit 0 currentColor;
}

.example--default {
  font-size: 100%;
}

.example--large {
  @include padding(a 2);
  font-size: 200%;
}

body {
  background: $color-white;
}
