

<div class="styleguide-pattern-wrapper">
<div class="example  js-example  example--default">
  Eos asperiores quia maxime maiores totam veniam reprehenderit. Quas est sunt quasi amet. Fugiat perspiciatis voluptate. Porro iste minima voluptatem non laborum ut est reiciendis quia. Eos ut maxime ea quis.
</div>
</div>

<div class="styleguide-pattern-wrapper">
<div class="example  js-example  example--large">
  Maiores non omnis sequi velit. Provident quibusdam ut vero explicabo vel blanditiis aut. Culpa facilis rerum in voluptatem deleniti enim. Autem ad qui laborum quam deserunt aut omnis. Dolorum sint dicta voluptas sed cum. Minus eligendi voluptatem ipsam ipsam.
</div>
</div>

