

<div class="styleguide-pattern-wrapper">
<div class="example  js-example  example--default">
  Blanditiis sed a. Qui hic illum illum aut id. Non quaerat nam minima omnis commodi expedita. Ducimus fugiat id excepturi eligendi reprehenderit aut. Minima veniam id quasi sint et sint minus placeat molestiae.
</div>
</div>

<div class="styleguide-pattern-wrapper">
<div class="example  js-example  example--large">
  Autem vero vero quo. Et minima commodi eos ut suscipit debitis. Illo minima temporibus sapiente voluptatibus veniam aut officiis.
</div>
</div>

