

<div class="styleguide-pattern-wrapper">
<div class="example  js-example  example--default">
  Consequatur alias facilis minima excepturi et eos eligendi. Hic rerum accusantium dolores dolore eaque dolores vel. Omnis quisquam magni aut id similique. Et neque corrupti sit tenetur nihil dolor et.
</div>
</div>

<div class="styleguide-pattern-wrapper">
<div class="example  js-example  example--large">
  Inventore quo possimus placeat amet consectetur. Laborum velit sunt quo sint dolore perspiciatis dignissimos doloremque. Voluptas illum nulla ducimus et iure deleniti delectus vero error.
</div>
</div>

