

<figure class="image  image--landscape">
  <picture class="image__picture">
          <source class="image__picture-source"
        data-srcset="//__mock.dev.localhost/landscape-640.webp 640w, //__mock.dev.localhost/landscape-960.webp 960w, //__mock.dev.localhost/landscape-1200.webp 1200w, //__mock.dev.localhost/landscape-1440.webp 1440w, //__mock.dev.localhost/landscape-1600.webp 1600w, //__mock.dev.localhost/landscape-1920.webp 1920w"
        type="image/webp"
         sizes="100vw"      />
          <source class="image__picture-source"
        data-srcset="//__mock.dev.localhost/landscape-640.jpg 640w, //__mock.dev.localhost/landscape-960.jpg 960w, //__mock.dev.localhost/landscape-1200.jpg 1200w, //__mock.dev.localhost/landscape-1440.jpg 1440w, //__mock.dev.localhost/landscape-1600.jpg 1600w, //__mock.dev.localhost/landscape-1920.jpg 1920w"
        type="image/jpeg"
         sizes="100vw"      />
        <img src="//__mock.dev.localhost/landscape-640.jpg" alt="Alternativtext für das Bild" class="image__src" title="Titel des Bildes / Copyrightinfos" />
  </picture>

  </figure>

