

<figure class="image  image--landscape">
  <picture class="image__picture">
    <source class="image__picture-source"
      data-lazyload
      data-srcset="//localhost/__mock/landscape-640.jpg 640w, //localhost/__mock/landscape-960.jpg 960w, //localhost/__mock/landscape-1200.jpg 1200w, //localhost/__mock/landscape-1440.jpg 1440w, //localhost/__mock/landscape-1600.jpg 1600w, //localhost/__mock/landscape-1920.jpg 1920w"
       sizes="100vw"    />
    <img src="//localhost/__mock/landscape-640.jpg" alt="Alternativtext für das Bild" class="image__src" title="Titel des Bildes / Copyrightinfos" />
  </picture>

  </figure>

