

<figure class="image  image--portrait">
  <picture class="image__picture">
    <source class="image__source"
      data-srcset="//__mock.dev.localhost/portrait-640.webp 640w, //__mock.dev.localhost/portrait-960.webp 960w, //__mock.dev.localhost/portrait-1200.webp 1200w, //__mock.dev.localhost/portrait-1440.webp 1440w, //__mock.dev.localhost/portrait-1600.webp 1600w, //__mock.dev.localhost/portrait-1920.webp 1920w"
      type="image/webp"
       sizes="100vw"    />
    <img src="//__mock.dev.localhost/portrait-1440.jpg" alt="Alternativtext für das Bild" class="image__fallback" title="Titel des Bildes / Copyrightinfos" />
  </picture>

  </figure>

