config:
  kalong:
    title: Your Project
    version: 0.1.0
    proxy: dev.dev.localhost
    https: true
    port: 3000
    main: main
    root: ./public/
    src: ./src/
    dest: ./public/assets/
    styleguide: ./public/styleguide/
    library: ./public/site/patterns/
    assets: assets/
    config: config/
    docs: docs/
    fonts: fonts/
    icons: icons/
    images: images/
    patterns: patterns/
    templates: templates/
    scripts: scripts/
    styles: styles/
  colors:
    icon: '#000'
    theme: '#f00'
    tile: '#f00'
  debug: true
  styleguide: true
  hash: 1652378714728
language:
  code: en
  locale: en_US
  direction: ltr
nav:
  main:
    - href: '#somepage'
      label: Somepage
pageTitle: Your Project—Styleguide
pageDescription: A pattern library for Your Project
pageModifiers: ''
type: button
label: Button

