debug: true
styleguide: true
shared:
  breakpoints:
    s: 480
    m: 640
    l: 720
    xl: 960
    xxl: 1100
    xxxl: 1400
    custom: '(max-width: 30em)'
  fonts:
    default:
      family: Roboto
      fallback: sans-serif
      weight: 400
      style: normal
      fontface: true
      file: roboto-regular
site:
  lang: en
  dir: ltr
  title: 'Kalong—Styleguide, v0.0.1-alpha.1'
  description: null
  themecolor: '#000000'
  modifiers: null
globals:
  nav:
    main:
      - href: '#somepage'
        label: Somepage
text: >-
  Aut ab aspernatur amet voluptatem corporis sunt. Officia rerum repudiandae
  nesciunt. Dolor non blanditiis at quo aliquam quis eos recusandae. Non et
  voluptas aspernatur. Nihil nihil perferendis aut doloribus necessitatibus et
  nihil et natus.

