debug: true
styleguide: true
shared:
  breakpoints:
    s: 480
    m: 640
    l: 720
    xl: 960
    xxl: 1100
    xxxl: 1400
    custom: '(max-width: 30em)'
  fonts:
    default:
      family: Roboto
      fallback: sans-serif
      weight: 400
      style: normal
      fontface: true
      file: roboto-regular
site:
  lang: en
  dir: ltr
  title: 'Kalong—Styleguide, v0.0.1-alpha.1'
  description: null
  themecolor: '#000000'
  modifiers: null
globals:
  nav:
    main:
      - href: '#somepage'
        label: Somepage
text: >-
  Et quis nam repellat dolorum harum. Sint porro reprehenderit. Nisi aspernatur
  hic enim sit. Illo et inventore unde delectus praesentium. Odio voluptatibus
  voluptatem molestiae asperiores quasi itaque. Error qui omnis quis ea
  molestiae atque quam voluptatum.
modifiers: example--default

