config:
  kalong:
    title: Your Project
    version: 0.1.0
    proxy: dev.dev.localhost
    https: true
    port: 3000
    main: main
    root: ./public/
    src: ./src/
    dest: ./public/assets/
    styleguide: ./public/styleguide/
    library: ./public/site/patterns/
    assets: assets/
    config: config/
    docs: docs/
    fonts: fonts/
    icons: icons/
    images: images/
    patterns: patterns/
    templates: templates/
    scripts: scripts/
    styles: styles/
  fonts:
    default:
      family: Roboto
      fallback: sans-serif
      weight: 400
      style: normal
      fontface: true
      file: roboto-regular
    mono:
      family: Hack
      fallback: monospace
      weight: 700
      style: normal
      fontface: false
  mediaqueries:
    xs: 375
    s: 480
    m: 720
    l: 960
    xl: 1100
    xxl: 1280
    portrait: '(orientation: portrait)'
    landscape: '(orientation: landscape)'
    print: print
    custom: '(max-width: 30rem)'
  colors:
    icon: '#000'
    theme: '#f00'
    tile: '#f00'
  debug: true
  styleguide: true
  hash: 1647358342692
language:
  code: en
  locale: en_US
  direction: ltr
nav:
  main:
    - href: '#somepage'
      label: Somepage
pageTitle: Your Project—Styleguide
pageDescription: A pattern library for Your Project
pageModifiers: ''
text: <p>Homepage content and patterns here&hellip;</p>
imageTest:
  config:
    kalong:
      title: Your Project
      version: 0.1.0
      proxy: dev.dev.localhost
      https: true
      port: 3000
      main: main
      root: ./public/
      src: ./src/
      dest: ./public/assets/
      styleguide: ./public/styleguide/
      library: ./public/site/patterns/
      assets: assets/
      config: config/
      docs: docs/
      fonts: fonts/
      icons: icons/
      images: images/
      patterns: patterns/
      templates: templates/
      scripts: scripts/
      styles: styles/
    fonts:
      default:
        family: Roboto
        fallback: sans-serif
        weight: 400
        style: normal
        fontface: true
        file: roboto-regular
      mono:
        family: Hack
        fallback: monospace
        weight: 700
        style: normal
        fontface: false
    mediaqueries:
      xs: 375
      s: 480
      m: 720
      l: 960
      xl: 1100
      xxl: 1280
      portrait: '(orientation: portrait)'
      landscape: '(orientation: landscape)'
      print: print
      custom: '(max-width: 30rem)'
    colors:
      icon: '#000'
      theme: '#f00'
      tile: '#f00'
    debug: true
    styleguide: true
    hash: 1647358342692
  language:
    code: en
    locale: en_US
    direction: ltr
  nav:
    main:
      - href: '#somepage'
        label: Somepage
  pageTitle: Your Project—Styleguide
  pageDescription: A pattern library for Your Project
  pageModifiers: ''
  modifiers: image--landscape
  src: //__mock.dev.localhost/landscape-640.jpg
  alt: Alternativtext für das Bild
  title: Titel des Bildes / Copyrightinfos
  caption: null
  sizes: 100vw
  sources:
    - srcset: >-
        //__mock.dev.localhost/landscape-640.webp 640w,
        //__mock.dev.localhost/landscape-960.webp 960w,
        //__mock.dev.localhost/landscape-1200.webp 1200w,
        //__mock.dev.localhost/landscape-1440.webp 1440w,
        //__mock.dev.localhost/landscape-1600.webp 1600w,
        //__mock.dev.localhost/landscape-1920.webp 1920w
      type: image/webp
    - srcset: >-
        //__mock.dev.localhost/landscape-640.jpg 640w,
        //__mock.dev.localhost/landscape-960.jpg 960w,
        //__mock.dev.localhost/landscape-1200.jpg 1200w,
        //__mock.dev.localhost/landscape-1440.jpg 1440w,
        //__mock.dev.localhost/landscape-1600.jpg 1600w,
        //__mock.dev.localhost/landscape-1920.jpg 1920w
      type: image/jpeg
videoTest:
  config:
    kalong:
      title: Your Project
      version: 0.1.0
      proxy: dev.dev.localhost
      https: true
      port: 3000
      main: main
      root: ./public/
      src: ./src/
      dest: ./public/assets/
      styleguide: ./public/styleguide/
      library: ./public/site/patterns/
      assets: assets/
      config: config/
      docs: docs/
      fonts: fonts/
      icons: icons/
      images: images/
      patterns: patterns/
      templates: templates/
      scripts: scripts/
      styles: styles/
    fonts:
      default:
        family: Roboto
        fallback: sans-serif
        weight: 400
        style: normal
        fontface: true
        file: roboto-regular
      mono:
        family: Hack
        fallback: monospace
        weight: 700
        style: normal
        fontface: false
    mediaqueries:
      xs: 375
      s: 480
      m: 720
      l: 960
      xl: 1100
      xxl: 1280
      portrait: '(orientation: portrait)'
      landscape: '(orientation: landscape)'
      print: print
      custom: '(max-width: 30rem)'
    colors:
      icon: '#000'
      theme: '#f00'
      tile: '#f00'
    debug: true
    styleguide: true
    hash: 1647358342692
  language:
    code: en
    locale: en_US
    direction: ltr
  nav:
    main:
      - href: '#somepage'
        label: Somepage
  pageTitle: Your Project—Styleguide
  pageDescription: A pattern library for Your Project
  pageModifiers: ''
  modifiers: ''
  attributes: muted loop playsinline autoplay
  poster: //__mock.dev.localhost/video-landscape.jpg
  sources:
    - src: //__mock.dev.localhost/video-landscape.av1.mp4
      type: video/webm; codecs=av01.0.05M.08,opus
    - src: //__mock.dev.localhost/video-landscape.h264.mp4
      type: video/mp4

