config:
  kalong:
    title: Your Project
    version: 0.1.0
    proxy: yourproject.dev.localhost
    https: true
    port: 3000
    main: main
    root: ./public/
    src: ./src/
    dest: ./public/assets/
    styleguide: ./public/styleguide/
    library: ./public/site/patterns/
    assets: assets/
    config: config/
    docs: docs/
    fonts: fonts/
    icons: icons/
    images: images/
    patterns: patterns/
    templates: templates/
    scripts: scripts/
    styles: styles/
  fonts:
    default:
      family: Roboto
      fallback: sans-serif
      weight: 400
      style: normal
      fontface: true
      file: roboto-regular
    mono:
      family: Hack
      fallback: monospace
      weight: 700
      style: normal
      fontface: false
  mediaqueries:
    xs: 375
    s: 480
    m: 720
    l: 960
    xl: 1100
    xxl: 1280
    portrait: '(orientation: portrait)'
    landscape: '(orientation: landscape)'
    print: print
    custom: '(max-width: 30rem)'
  colors:
    icon: '#000'
    theme: '#f00'
    tile: '#f00'
  debug: true
  styleguide: true
  hash: 1640268609907
language:
  code: en
  locale: en_US
  direction: ltr
nav:
  main:
    - href: '#somepage'
      label: Somepage
pageTitle: Your Project—Styleguide
pageDescription: A pattern library for Your Project
pageModifiers: ''
modifiers: image--portrait
src: //localhost/__mock/portrait-640.jpg
alt: Alternativtext für das Bild
title: Titel des Bildes / Copyrightinfos
caption: null
sizes: 100vw
srcset: >-
  //localhost/__mock/portrait-640.jpg 640w, //localhost/__mock/portrait-960.jpg
  960w, //localhost/__mock/portrait-1200.jpg 1200w,
  //localhost/__mock/portrait-1440.jpg 1440w,
  //localhost/__mock/portrait-1600.jpg 1600w,
  //localhost/__mock/portrait-1920.jpg 1920w

